.persons__desc
{
/* иначе дед прыгает
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
            transition: opacity .2s;
*/

    visibility: hidden;

    margin: 0 -30px;

    font-size: 16px;
    line-height: 24px;
}

.persons__item_hovered_yes .persons__desc
{
    display: block;

    visibility: visible;
}
