.person-center
{
	position: fixed;
	left: 493px;
	top: 50%;
	margin: -109px 0 0 -116px;
	width: 217px;
	height: 226px;
	z-index: 20;
	display: none;
}

.person-center_pers_yellow
{
	background: url('person-center.png') left top no-repeat;
}

.person-center_pers_red
{
	background: url('person-center.png') left center no-repeat;
}

.person-center_pers_blue
{
	background: url('person-center.png') left bottom no-repeat;
}

.person-center_visible
{
	display: block;
}

