.grid_cols_12 {
    padding-right: 57.25%;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grid_cols_12:before, .grid_cols_12:after, .grid__row:before, .grid__row:after {
    clear: both;
    content: '';
    display: block;
}

.grid__module_first_yes {
    clear: left;
}

.grid__module {
    float: left;
    position: relative;
    outline: 1px solid red;
}

.grid__module_span_1 {
    margin-right: -14%;
    width: 14%;
}

.grid__module_col_1 {
    left: 0%;
}

.grid__module_span_2 {
    margin-right: -34%;
    width: 34%;
}

.grid__module_col_2 {
    left: 20%;
}

.grid__module_span_3 {
    margin-right: -54%;
    width: 54%;
}

.grid__module_col_3 {
    left: 40%;
}

.grid__module_span_4 {
    margin-right: -74%;
    width: 74%;
}

.grid__module_col_4 {
    left: 60%;
}

.grid__module_span_5 {
    margin-right: -94%;
    width: 94%;
}

.grid__module_col_5 {
    left: 80%;
}

.grid__module_span_6 {
    margin-right: -114%;
    width: 114%;
}

.grid__module_col_6 {
    left: 100%;
}

.grid__module_span_7 {
    margin-right: -134%;
    width: 134%;
}

.grid__module_col_7 {
    left: 120%;
}

.grid__module_span_8 {
    margin-right: -154%;
    width: 154%;
}

.grid__module_col_8 {
    left: 140%;
}

.grid__module_span_9 {
    margin-right: -174%;
    width: 174%;
}

.grid__module_col_9 {
    left: 160%;
}

.grid__module_span_10 {
    margin-right: -194%;
    width: 194%;
}

.grid__module_col_10 {
    left: 180%;
}

.grid__module_span_11 {
    margin-right: -214%;
    width: 214%;
}

.grid__module_col_11 {
    left: 200%;
}

.grid__module_span_12 {
    margin-right: -234%;
    width: 234%;
}

.grid__module_col_12 {
    left: 220%;
}

.grid__restore, .grid__initial {
    position: relative;
}

.grid__restore .grid_cols_12 {
    padding-right: 0;
    margin-right: -400%;
}

.grid__restore .grid__initial {
    margin-right: -1070%;
}

.grid__module_span_1 .grid__restore {
    margin-right: -42.86%;
}

.grid__module_col_1 .grid__restore .grid_cols_12, .grid__module_col_1 .grid__restore .grid__initial {
    left: 0%;
}

.grid__module_span_2 .grid__restore {
    margin-right: 41.18%;
}

.grid__module_col_2 .grid__restore .grid_cols_12, .grid__module_col_2 .grid__restore .grid__initial {
    left: -100%;
}

.grid__module_span_3 .grid__restore {
    margin-right: 62.96%;
}

.grid__module_col_3 .grid__restore .grid_cols_12, .grid__module_col_3 .grid__restore .grid__initial {
    left: -200%;
}

.grid__module_span_4 .grid__restore {
    margin-right: 72.97%;
}

.grid__module_col_4 .grid__restore .grid_cols_12, .grid__module_col_4 .grid__restore .grid__initial {
    left: -300%;
}

.grid__module_span_5 .grid__restore {
    margin-right: 78.72%;
}

.grid__module_col_5 .grid__restore .grid_cols_12, .grid__module_col_5 .grid__restore .grid__initial {
    left: -400%;
}

.grid__module_span_6 .grid__restore {
    margin-right: 82.46%;
}

.grid__module_col_6 .grid__restore .grid_cols_12, .grid__module_col_6 .grid__restore .grid__initial {
    left: -500%;
}

.grid__module_span_7 .grid__restore {
    margin-right: 85.07%;
}

.grid__module_col_7 .grid__restore .grid_cols_12, .grid__module_col_7 .grid__restore .grid__initial {
    left: -600%;
}

.grid__module_span_8 .grid__restore {
    margin-right: 87.01%;
}

.grid__module_col_8 .grid__restore .grid_cols_12, .grid__module_col_8 .grid__restore .grid__initial {
    left: -700%;
}

.grid__module_span_9 .grid__restore {
    margin-right: 88.51%;
}

.grid__module_col_9 .grid__restore .grid_cols_12, .grid__module_col_9 .grid__restore .grid__initial {
    left: -800%;
}

.grid__module_span_10 .grid__restore {
    margin-right: 89.69%;
}

.grid__module_col_10 .grid__restore .grid_cols_12, .grid__module_col_10 .grid__restore .grid__initial {
    left: -900%;
}

.grid__module_span_11 .grid__restore {
    margin-right: 90.65%;
}

.grid__module_col_11 .grid__restore .grid_cols_12, .grid__module_col_11 .grid__restore .grid__initial {
    left: -1000%;
}

.grid__module_span_12 .grid__restore {
    margin-right: 91.45%;
}

.grid__module_col_12 .grid__restore .grid_cols_12, .grid__module_col_12 .grid__restore .grid__initial {
    left: -1100%;
}