.story-blue-part-1
{
    margin: 0 0 80px;
    padding: 0 0 367px;
}

.story-blue-part-1__bg
{
    background: url("../images/blue/story-blue-part-1__bg.png") no-repeat 152px 0 transparent;
    height: 565px;
    left: 0;
    position: absolute;
    top: 285px;
    width: 100%;
}

.image_blue-notebook
{
    margin-top: -13px;
    position: relative;
    z-index: 2;
}

.image_blue-phone
{
    left: -54px;
    position: absolute;
    top: 345px;
}

.image_blue-pen
{
    left: 340px;
    position: absolute;
    top: 350px;
}

.image_blue-ticket
{
    position: absolute;
    right: 75px;
    top: 344px;
}

.image_blue-watch
{
    left: 505px;
    position: absolute;
    top: 485px;
    z-index: 2;
}

.image_blue-photo
{
    position: absolute;
    right: -75px;
    top: 465px;
}

.image_blue-ipad
{

}

.story-blue-part-2
{
    margin: 0 0 92px;
    padding: 0 0 285px;
}

.story-blue-part-2__bg
{
    background: url("../images/blue/story-blue-part-2__bg.png") no-repeat 63px 0 transparent;
    height: 565px;
    left: 0;
    position: absolute;
    top: 235px;
    width: 100%;
}

.image_blue-cup
{
    position: absolute;
    right: 399px;
    top: 380px;
}

.image_blue-mask
{
    position: absolute;
    right: 3px;
    top: 260px;
}

.image_blue-palka
{
    position: absolute;
    right: 9px;
    top: 30px;
}

.image_blue-paper
{
    position: absolute;
    right: 1px;
    top: 1px;
}

.image_blue-notebook2
{
    position: absolute;
    right: -84px;
    top: 143px;
}

.story-blue-part-3
{
    margin: 0 0 92px;
    padding: 0 0 56px;
}

.story-blue-part-3__bg
{
    background: url("../images/blue/story-blue-part-3__bg.png") no-repeat 63px 0 transparent;
    height: 565px;
    left: 0;
    position: absolute;
    top: 175px;
    width: 100%;
}

.image_blue-krug
{
    position: absolute;
    left: 0;
    top: -200px;
}

.image_blue-tie
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.image_blue-iphone
{
    margin-top: 35px;
}

.image_blue-cards
{
    margin-top: 35px;
}

.image_blue-money
{
    margin: 200px 0 0 -10px;
}

.image_blue-bag
{
    position: absolute;
    right: 46px;
    top: -220px;
}

.story-blue-part-4
{
    margin: 0 0 48px;
    padding: 0 0 72px;
}

.story-blue-part-4__row-1
{
    margin: 0 0 30px;
}

.story-blue-part-4__bg
{
    background: url("../images/blue/story-blue-part-4__bg.png") no-repeat 216px 0 transparent;
    height: 565px;
    left: 0;
    position: absolute;
    top: 212px;
    width: 100%;
}

.image_blue-book
{
    margin: 112px 0 0 -29px;
}