.dev [class*="col-"]
{
    outline: 1px solid #000;
    background: rgba(100, 100, 100, 0.3);
}

.dev__grid
{
    position: fixed;
    z-index: 1000;
    top: 40px;

    display: none;

    width: 954px;

    opacity: 0.5;
}

.dev .dev__grid
{
    display: block;
}

.dev__grid [class*="col-"]
{
    text-align: center;

    font-size: 30px;
}