/* fonts */
@font-face {
    font-family: 'Textbook';
    src: local("textbook");
    src: url("//yandex.st/atom-www/_/1wUguRKdVPX0Lw2dlQ1I-l4X0hI.woff"), url("//yandex.st/atom-www/_/_qMiA1SBxUbup2B5BieefMuSpsk.ttf");
}

/* Wrappers */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000316;
    }
}
.l-wrapper
{
    position: relative;
    position: relative;

    overflow: hidden;

    width: 954px;
    margin: 16px;

    border: 2px solid #000;
    border-bottom: 0;
}

/* Themes */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000328;
    }
}
.b-yellow
{
    background-color: #ffe05d;

    -webkit-transition: background-color .5s ease;
       -moz-transition: background-color .5s ease;
         -o-transition: background-color .5s ease;
            transition: background-color .5s ease;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000334;
    }
}
.b-blue
{
    background-color: #72c4f6;

    -webkit-transition: background-color .5s ease;
       -moz-transition: background-color .5s ease;
         -o-transition: background-color .5s ease;
            transition: background-color .5s ease;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000340;
    }
}
.b-red
{
    background-color: #ff8282;

    -webkit-transition: background-color .5s ease;
       -moz-transition: background-color .5s ease;
         -o-transition: background-color .5s ease;
            transition: background-color .5s ease;
}

/* Header */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000347;
    }
}
.b-header
{
    height: 588px;

    background: url("../img/b-header.png") 10% 0 no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000353;
    }
}
.l-logo
{
    display: block;
    overflow: hidden;

    width: 138px;
    height: 92px;
    margin: -2px 0 0;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -1989px no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000363;
    }
}
.b-logo
{
    display: block;

    width: 78px;
    height: 30px;
    margin: 18px auto 0;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -1892px no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000372;
    }
}
.b-slogan
{
    margin: 350px 0 0;

    text-align: center;

    font: 48px/1 "Textbook";
}

/* Top description */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000380;
    }
}
.b-description
{
    padding: 80px 0;

    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background: #fff;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000388;
    }
}
.b-description-content
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 37px 0 0;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \0000399;
    }
}
.b-description-video-icon
{
    display: block;
         -o-border-radius: 4px;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 138px;
    height: 76px;
    padding: 18px 0 0 3px;
    -webkit-box-sizing: border-box;

    border: 2px solid #000;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
            border-radius: 4px;

    text-align: center;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003111;
    }
}
.b-description-video-caption
{
    display: block;

    margin: 6px 0 0;
}

/* Persons block */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003118;
    }
}
.b-persons
{
    margin: 80px 0 77px 0;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003123;
    }
}
.b-persons_footer
{
    margin-top: 110px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003133;
    }
}
.b-persons-item-caption
{
    display: block;

    margin: 8px 0 0;

    text-align: center;

    font-weight: bold;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003141;
    }
}
.l-person-description
{
    margin-top: 20px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003146;
    }
}
.b-person-description
{
    display: table-cell;

    height: 100px;

    text-align: center;
    vertical-align: middle;
}

/* Persons icon */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003155;
    }
}
.b-person-yellow-icon
{
    display: block;

    width: 138px;
    height: 138px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -1451px no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003163;
    }
}
.b-person-yellow-icon_active
{
    display: block;

    width: 174px;
    height: 174px;
    margin: -18px 0 0 -18px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -921px no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003172;
    }
}
.b-person-yellow-icon_popup
{
    display: block;

    width: 217px;
    height: 217px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -391px no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003180;
    }
}
.b-person-blue-icon
{
    display: block;

    width: 138px;
    height: 138px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -608px no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003188;
    }
}
.b-person-blue-icon_active
{
    display: block;

    width: 174px;
    height: 174px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -217px no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003196;
    }
}
.b-person-blue-icon_popup
{
    display: block;

    width: 217px;
    height: 217px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 0 no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003204;
    }
}
.b-person-red-icon
{
    display: block;

    width: 138px;
    height: 138px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -1312px no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003212;
    }
}
.b-person-red-icon_active
{
    display: block;

    width: 174px;
    height: 174px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -747px no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003220;
    }
}
.b-person-red-icon_popup
{
    display: block;

    width: 217px;
    height: 217px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -1095px no-repeat;
}

/* Story */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003234;
    }
}
.b-story-stage
{
    position: relative;
}

/* Story :: Yellow */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003245;
    }
}
.b-story-yellow-stage_1
{
    height: 800px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003250;
    }
}
.b-story-yellow-stage_2
{
    height: 800px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003255;
    }
}
.b-story-yellow-stage_3
{
    height: 800px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003260;
    }
}
.b-story-yellow-stage_4
{
    height: 800px;
}

/* Paths */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003266;
    }
}
.b-story-yellow-path-1
{
    position: absolute;
    top: -44px;

    display: block;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003273;
    }
}
.b-story-yellow-path-2
{
    position: absolute;
    bottom: -61px;

    display: block;

    margin: 0 0 0 -23px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003281;
    }
}
.b-story-yellow-path-3
{
    position: absolute;
    bottom: -63px;

    display: block;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003288;
    }
}
.b-story-yellow-path-4
{
    position: absolute;
    bottom: -63px;

    display: block;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003295;
    }
}
.b-story-yellow-path-5
{
    position: absolute;
    bottom: -63px;

    display: block;
}

/* Things */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003303;
    }
}
.b-story-yellow-thing-1
{
    position: absolute;
    z-index: 1;
    top: -44px;

    display: block;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003311;
    }
}
.b-story-yellow-thing-2
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 0 0 0 -16px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003319;
    }
}
.b-story-yellow-thing-3
{
    position: absolute;
    z-index: 1;

    display: block;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003326;
    }
}
.b-story-yellow-thing-4
{
    position: absolute;
    z-index: 1;

    display: block;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003333;
    }
}
.b-story-yellow-thing-5
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 371px 0 0 -16px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003341;
    }
}
.b-story-yellow-thing-6
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: -255px 0 0;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003349;
    }
}
.b-story-yellow-thing-7
{
    position: absolute;
    z-index: 1;

    display: block;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003356;
    }
}
.b-story-yellow-thing-8
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: -64px 0 0;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003364;
    }
}
.b-story-yellow-thing-9
{
    position: absolute;
    z-index: 2;

    display: block;

    margin: 0 0 0 -16px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003372;
    }
}
.b-story-yellow-thing-10
{
    position: absolute;
    z-index: 3;

    display: block;

    margin: -45px 0 0 22px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003380;
    }
}
.b-story-yellow-thing-11
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 75px 0 0 34px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003388;
    }
}
.b-story-yellow-thing-12
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 0;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003396;
    }
}
.b-story-yellow-thing-13
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 84px 0 0 -8px;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003404;
    }
}
.b-story-yellow-thing-14
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 278px 0 0 0;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003412;
    }
}
.b-story-yellow-thing-15
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 92px 0 0;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003420;
    }
}
.b-story-yellow-thing-16
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 1px 0 0 0;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003428;
    }
}
.b-story-yellow-thing-17
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 208px 0 0;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003436;
    }
}
.b-story-yellow-thing-18
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 208px 0 0;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003444;
    }
}
.b-story-yellow-thing-19
{
    position: absolute;
    z-index: 1;

    display: block;

    margin: 238px 0 0;
}

/* Texts */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003453;
    }
}
.b-story-yellow-text-1
{
    margin-top: 79px;
    margin-bottom: 95px;

    text-align: center;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003460;
    }
}
.b-story-yellow-text-2
{
    margin-top: 90px;
    margin-bottom: 89px;

    text-align: center;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003467;
    }
}
.b-story-yellow-text-3
{
    margin-top: 90px;
    margin-bottom: 89px;

    text-align: center;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003474;
    }
}
.b-story-yellow-text-4
{
    margin-top: 90px;
    margin-bottom: 89px;

    text-align: center;
}

/* Footer */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003482;
    }
}
.b-copyright
{
    margin-top: 100px;
}

/* Icons */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003488;
    }
}
.b-atom-icon
{
    display: block;

    width: 102px;
    height: 102px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -1790px no-repeat;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003496;
    }
}
.b-icon-play
{
    display: -moz-inline-stack;
    display: inline-block;

    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 27px;
    height: 36px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -2081px no-repeat;
}

/* Slidebar */
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003505;
    }
}
.b-slidebar
{
    position: absolute;
    z-index: 4;
    top: -18px;
    right: 0;
    bottom: -18px;
    left: 972px;

    border-left: 2px solid #000;
    background: #fff;
}
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003516;
    }
}
.b-slidebar::before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -18px;

    display: block;

    width: 18px;

    content: "";

    opacity: .17;
    background: #000;
}

@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003530;
    }
}
.b-sidebar-toggle
{
    position: fixed;
    z-index: 5;
    top: 28px;
    right: 30px;

    display: block;

    width: 67px;
    height: 67px;

    background: url('/../img/sprites-s10fbdd18f1.png') 0 -1656px no-repeat;
}
@media -sass-debug-info
{
    filename
    {
        font-family: file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/main\.scss;
    }
    line
    {
        font-family: \00003541;
    }
}
.b-sidebar-toggle:hover
{
    background: url('/../img/sprites-s10fbdd18f1.png') 0 -1589px no-repeat;
}
