.b-page
{
    position: relative;
}

.b-page__content 
{
    width: 954px;
}

.b-page__aside 
{
    position: absolute;
    top: 0;
    right: -20px;
    bottom: 0;
    left: 954px;
    z-index: 10;
    overflow: hidden;
    background: #fff;
    border: solid #000;
    border-width: 0 0 2px 2px;
    transition: .3s left cubic-bezier(.2,-.1,.8,1.2);
}

.b-aside__helper
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 974px;
    background: #fff;
    border-left: 2px solid #000;
    z-index: 9;
    box-shadow: -18px 0 0 0 rgba(0,0,0,.1);
    transition: .3s left cubic-bezier(.2,-.1,.8,1.2);
}

.b-page__aside_first 
{
    top: -20px;
}

.b-page__aside_last 
{
    bottom: -20px;
    border-bottom: none 0;
}

.b-page__aside-wrapper
{
    width: 800px;
    padding: 34px;
}

.b-page__text
{
    position: relative;
    width: 294px;
    z-index: 2;
    text-align: center;
    padding: 90px 0 30px;
}

.b-page__text_left
{
    padding-left: 94px;
}

.b-page__text_right
{
    padding-left: 564px;
}

.b-page__separator 
{
    position: relative;
    width: 682px;
    left: 94px;
    padding: 1px;
}

.b-page__separator-line
{
    border-left: 2px solid #000;
}
