html 
{
    background: #fff;
}

.b-scenario 
{
    margin: 18px;
    border: 2px solid #000;
    min-width: 954px;
    transition: background .5s linear;
}

.b-scenario_blue {
    background: #72c4f6;
}

.b-scenario_red {
    background: #ff8282;
}

.b-scenario_yellow {
    background: #ffe05d;
}

