@import "settings";

/* Check blue theme */
.b-blue:checked
{
    $background-color: #72c4f6;

    & ~ .l-wrapper-base
    {
        & > .l-wrapper
        {
            background-color: $background-color;
        }

        & .l-person-description_blue
        {
            @include opacity(1);
        }

        & .b-theme-toggle_blue
        {
            display: none;
        }

        & .b-person-blue-icon
        {
            width: 174px;
            height: 174px;
            margin: -18px 0 0 -18px;
            background: sprite($sprite_blue_icons, "b-person-blue-icon_active") no-repeat;
        }

        & .b-sidebar_blue
        {
            display: block;
        }

        & .b-description-video-icon
        {
            background-color: $background-color;
        }

        & .b-story_yellow
        {
            left: -240%;
            display: none;
        }

        & .b-story_red
        {
            left: -240%;
            display: none;
        }

        & .b-story_blue
        {
            display: block;
            left: 0;
        }
    }
}

/* Story */
.b-story_blue
{

}

.b-story-blue-stage_1,
.b-story-blue-stage_2,
.b-story-blue-stage_3,
.b-story-blue-stage_4
{
    height: 800px;
}

.b-story-blue-stage_1
{
    height: 835px;
}

/* Paths */
.b-story-blue-path-1
{
    top: -44px;
}

.b-story-blue-path-2
{
    bottom: -61px;
}

.b-story-blue-path-3
{
    bottom: -63px;
}

.b-story-blue-path-4
{
    bottom: -63px;
}

.b-story-blue-path-5
{
    bottom: -45px;
}

/* Things */
.b-story-blue-thing-1
{
    top: 78px;
}

.b-story-blue-thing-2
{
    margin: 0 0 0 -18px;
}

.b-story-blue-thing-3
{

}

.b-story-blue-thing-4
{
    margin: 113px 0 0;
}

.b-story-blue-thing-5
{
    margin: 273px 0 0 0;
}

.b-story-blue-thing-6
{
    margin: 232px 0 0;
}

.b-story-blue-thing-7
{
    margin: 90px 0 0 -18px;
}

.b-story-blue-thing-8
{
    margin: 220px 0 0 -18px;
    z-index: 3;
}

.b-story-blue-thing-9
{
    margin: 90px 0 0 4px;
}

.b-story-blue-thing-10
{

}

.b-story-blue-thing-11
{
    margin: 95px 0 0 -5px;
}

.b-story-blue-thing-12
{
    margin: -277px 0 0;
}

.b-story-blue-thing-13
{
    z-index: 3;
    margin: 94px 0 0 0;
}

.b-story-blue-thing-14
{
    margin: 0;
}

.b-story-blue-thing-15
{
    margin: -124px 0 0 -18px;
}

.b-story-blue-thing-16
{

}

.b-story-blue-thing-17
{

}

.b-story-blue-thing-18
{

}

/* Texts */
.b-story-blue-text-1
{
    margin-top: 79px;
    margin-bottom: 95px;
}

.b-story-blue-text-2
{
    margin-bottom: 89px;
    margin-top: 90px;
}

.b-story-blue-text-3
{
    margin-bottom: 89px;
    margin-top: 90px;
}

.b-story-blue-text-4
{
    margin-bottom: 62px;
    margin-top: 90px;
}