@import "settings";

/* Wrappers */
.l-wrapper
{
    width: 954px;
    position: relative;
    border: 2px solid #000;
    border-top-width: 0;
    border-bottom-width: 0;
    position: relative;
    background-color: #fff;
    @include transition(background-color 0.5s ease);
}

.l-wrapper_sidebar
{
    border: none;
    margin: 0 0 0 35px;
}

.l-wrapper-base
{
    width: 100%;
    min-width: 972px;
    position: relative;
}

.l-wrapper-base_first
{
    & > .l-sidebar
    {
        top: -18px;
        padding: 18px 0 0;
    }

    & > .l-wrapper
    {
        border-top-width: 2px;
    }
}

.l-wrapper-base_last
{
    & > .l-sidebar
    {
        bottom: -18px;
        padding: 0 0 18px;
        border-bottom: none;

        &:before
        {
            bottom: 0;
        }
    }
}

.b-theme-toggle
{
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 138px;
}

.b-form-radio_theme-toggle
{
    display: none;
}

/* Header */
.b-header
{
    height: 588px;
    background: url("../../img/b-header.png") 10% 0 no-repeat;
}

.l-logo
{
    overflow: hidden;
    display: block;
    width: 138px;
    height: 92px;
    background: sprite($sprite, "l-logo") no-repeat;
    margin: -2px 0 0;
}

.b-logo
{
    display: block;
    width: 78px;
    height: 30px;
    background: sprite($sprite, "b-logo") no-repeat;
    margin: 18px auto 0;
}

.b-slogan
{
    font: 48px/1 "Textbook";
    text-align: center;
    margin: 350px 0 57px;
}

/* Top description */
.b-description
{
    padding: 80px 0;
    background: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.b-description-content
{
    @include box-sizing("border-box");
    padding: 0 37px 0 0;
}

.b-description-video
{

}

.b-description-video-icon
{
    border: 2px solid #000;
    @include border-radius(4px);
    @include box-sizing("border-box");
    padding: 18px 0 0 3px;
    display: block;
    width: 138px;
    height: 76px;
    text-align: center;
}

.b-description-video-caption
{
    display: block;
    margin: 6px 0 0;
}

/* Persons block */
.b-persons
{
    padding: 80px 0 77px 0;
}

.b-persons_footer
{
    margin-top: 110px;
}

.b-persons
{
    & .b-persons-item
    {
        &:hover
        {
            & + .l-person-description
            {
                @include opacity(0);

                & + .l-person-description
                {
                    @include opacity(0);

                    & + .l-person-description
                    {
                        @include opacity(1);
                    }
                }
            }

            & + .b-persons-item
            {
                & + .l-person-description
                {
                    @include opacity(0);

                    & + .l-person-description
                    {
                        @include opacity(1);

                        & + .l-person-description
                        {
                            @include opacity(0);
                        }
                    }
                }
            }

            & + .b-persons-item
            {
                & + .b-persons-item
                {
                    & + .l-person-description
                    {
                        @include opacity(1);

                        & + .l-person-description
                        {
                            @include opacity(0);

                            & + .l-person-description
                            {
                                @include opacity(0);
                            }
                        }
                    }
                }
            }
        }
    }
}

.b-persons-item-caption
{
    margin: 8px 0 0 -5%;
    width: 110%;
    font-weight: bold;
    display: block;
    text-align: center;
}

.l-person-description
{
    margin-top: 20px;
    @include opacity(0);
    @include transition(opacity 0.3s ease);
}

.b-person-description
{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}

/* Persons icon */
.b-person-yellow-icon
{
    display: block;
    width: 138px;
    height: 138px;
    background: sprite($sprite_yellow_icons, "b-person-yellow-icon") no-repeat;
}

.b-person-yellow-icon_active
{
    display: block;
    width: 174px;
    height: 174px;
    margin: -18px 0 0 -18px;
    background: sprite($sprite_yellow_icons, "b-person-yellow-icon_active") no-repeat;
}

.b-person-yellow-icon_popup
{
    display: block;
    width: 217px;
    height: 217px;
    background: sprite($sprite_yellow_icons, "b-person-yellow-icon_popup") no-repeat;
}

.b-person-blue-icon
{
    display: block;
    width: 138px;
    height: 138px;
    background: sprite($sprite_blue_icons, "b-person-blue-icon") no-repeat;
}

.b-person-blue-icon_active
{
    display: block;
    width: 174px;
    height: 174px;
    background: sprite($sprite_blue_icons, "b-person-blue-icon_active") no-repeat;
}

.b-person-blue-icon_popup
{
    display: block;
    width: 217px;
    height: 217px;
    background: sprite($sprite_blue_icons, "b-person-blue-icon_popup") no-repeat;
}

.b-person-red-icon
{
    display: block;
    width: 138px;
    height: 138px;
    background: sprite($sprite_red_icons, "b-person-red-icon") no-repeat;
}

.b-person-red-icon_active
{
    display: block;
    width: 174px;
    height: 174px;
    background: sprite($sprite_red_icons, "b-person-red-icon_active") no-repeat;
}

.b-person-red-icon_popup
{
    display: block;
    width: 217px;
    height: 217px;
    background: sprite($sprite_red_icons, "b-person-red-icon_popup") no-repeat;
}

/* Story */
.b-story
{
    left: -240%;
    @include transition(left 0.5s ease);
}

.b-story-stage
{
    position: relative;
}

.b-story-path
{
    display: block;
    position: absolute;
    z-index: 1;
}

.b-story-thing
{
    display: block;
    position: absolute;
    z-index: 2;
}

.b-story-text
{
    text-align: center;
}

/* Footer */
.b-copyright
{
    margin-top: 100px;
}

/* Icons */
.b-atom-icon
{
    display: block;
    width: 102px;
    height: 102px;
    background: sprite($sprite, "b-atom-icon") no-repeat;
}

.b-icon-play
{
    @include inline-block();
    width: 27px;
    height: 36px;
    background: sprite($sprite, "b-icon-play") no-repeat;
}

/* Sidebar */
.l-sidebar
{
    position: absolute;
    left: 956px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 2px solid #000;
    border-top: 0;
    border-right: 0;
    z-index: 10;

    &::before
    {
        display: block;
        width: 18px;
        content: "";
        position: absolute;
        background: #000;
        @include opacity(.17);
        left: -18px;
        top: 0;
        bottom: -2px;
    }
}

.l-sidebar-overflow
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.b-sidebar
{
    overflow: hidden;
}

.b-sidebar-head
{
    font: normal 28px/1.3 "Textbook";
}

.b-sidebar_yellow,
.b-sidebar_red,
.b-sidebar_blue
{
    display: none;
}

.b-sidebar-toggle
{
    display: block;
    position: fixed;
    width: 67px;
    height: 67px;
    background: sprite($sprite, "b-icon-sidebar-show") no-repeat;
    top: 28px;
    right: 30px;
    z-index: 20;
    @include opacity(1);
    @include transition(opacity 0.5s ease);
    cursor: pointer;

    &:hover
    {
        background: sprite($sprite, "b-icon-sidebar-show_hover") no-repeat;
    }
}

.b-form-checkbox_sidebar-toggle
{
    display: none;
}

.b-sidebar-status:checked
{
    & + .b-sidebar-toggle
    {
        background: sprite($sprite, "b-icon-sidebar-hide") no-repeat;

        &:hover
        {
            background: sprite($sprite, "b-icon-sidebar-hide_hover") no-repeat;
        }
    }

    & ~ .l-wrapper-base > .l-sidebar
    {
        width: 805px;
        right: 0;
        left: auto;

        & .b-sidebar-toggle-overlay
        {
            width: 0;
            height: 0;
        }
    }
}

.b-sidebar-toggle-overlay
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

@media (min-width: 1795px) {
    .b-sidebar-status:checked
    {
        & ~ .l-wrapper-base > .l-sidebar
        {
            width: auto;
            right: 0;
            left: 956px;
        }
    }

    .b-sidebar-toggle
    {
        @include opacity(0);
        @include transition(opacity 0.5s ease);
    }

    .b-sidebar-toggle-overlay
    {
        width: 0;
        height: 0;
    }
}

/* Popup video */
.b-video-overlay
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    background: rgba(#000, .3);
    display: none;
}

.b-video-overlay:after
{
    @include inline-block();
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.b-video-overlay:target
{
    display: block;
}

.b-video-close
{
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.b-video
{
    @include inline-block();
    vertical-align: middle;
    @include border-radius(5px);
    @include box-shadow(1px 1px 8px 0 rgba(#000, .5));
    line-height: 0;
    overflow: hidden;
    background: #fff;
}

.b-video-player
{
    padding: 8px;
    border: 2px solid #000;
    @include border-radius(5px);
    background: #E7E7E8;
}