@import "compass";

$sprite-spacing: 20px;
$sprite: sprite-map("sprites/*.png");

/* fonts */
@font-face
{
    font-family: 'Textbook';
    src: local('textbook');
    src: url("//yandex.st/atom-www/_/1wUguRKdVPX0Lw2dlQ1I-l4X0hI.woff"), url("//yandex.st/atom-www/_/_qMiA1SBxUbup2B5BieefMuSpsk.ttf")
}

/* Wrappers */
.l-wrapper
{
    width: 954px;
    margin: 16px;
    position: relative;
    border: 2px solid #000;
    border-bottom: 0;
    position: relative;
    overflow: hidden;
}

.b-yellow
{
    background-color: #ffe05d;
}

/* Header */
.b-header
{
    height: 588px;
    background: url("../img/b-header.png") 10% 0 no-repeat;
}

.l-logo
{
    overflow: hidden;
    display: block;
    width: 138px;
    height: 92px;
    background: sprite($sprite, "l-logo") no-repeat;
    margin: -2px 0 0;
}

.b-logo
{
    display: block;
    width: 78px;
    height: 30px;
    background: sprite($sprite, "b-logo") no-repeat;
    margin: 18px auto 0;
}

.b-slogan
{
    font: 48px/1 "Textbook";
    text-align: center;
    margin: 350px 0 0;
}

/* Top description */
.b-description
{
    padding: 80px 0;
    background: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.b-description-content
{
    @include box-sizing("border-box");
    padding: 0 37px 0 0;
}

.b-description-video
{

}

.b-description-video-icon
{
    border: 2px solid #000;
    @include border-radius(4px);
    @include box-sizing("border-box");
    padding: 18px 0 0 3px;
    display: block;
    width: 138px;
    height: 76px;
    text-align: center;
}

.b-description-video-caption
{
    display: block;
    margin: 6px 0 0;
}

/* Persons block */
.b-persons
{
    margin: 80px 0 77px 0;
}

.b-persons_footer
{
    margin-top: 110px;
}

.b-persons-item
{

}

.b-persons-item-caption
{
    margin: 8px 0 0;
    font-weight: bold;
    display: block;
    text-align: center;
}

.l-person-description
{
    margin-top: 20px;
}

.b-person-description
{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}

/* Persons icon */
.b-person-yellow-icon
{
    display: block;
    width: 138px;
    height: 138px;
    background: sprite($sprite, "b-person-yellow-icon") no-repeat;
}

.b-person-yellow-icon_active
{
    display: block;
    width: 174px;
    height: 174px;
    margin: -18px 0 0 -18px;
    background: sprite($sprite, "b-person-yellow-icon_active") no-repeat;
}

.b-person-yellow-icon_popup
{
    display: block;
    width: 217px;
    height: 217px;
    background: sprite($sprite, "b-person-yellow-icon_popup") no-repeat;
}

.b-person-blue-icon
{
    display: block;
    width: 138px;
    height: 138px;
    background: sprite($sprite, "b-person-blue-icon") no-repeat;
}

.b-person-blue-icon_active
{
    display: block;
    width: 174px;
    height: 174px;
    background: sprite($sprite, "b-person-blue-icon_active") no-repeat;
}

.b-person-blue-icon_popup
{
    display: block;
    width: 217px;
    height: 217px;
    background: sprite($sprite, "b-person-blue-icon_popup") no-repeat;
}

.b-person-red-icon
{
    display: block;
    width: 138px;
    height: 138px;
    background: sprite($sprite, "b-person-red-icon") no-repeat;
}

.b-person-red-icon_active
{
    display: block;
    width: 174px;
    height: 174px;
    background: sprite($sprite, "b-person-red-icon_active") no-repeat;
}

.b-person-red-icon_popup
{
    display: block;
    width: 217px;
    height: 217px;
    background: sprite($sprite, "b-person-red-icon_popup") no-repeat;
}

/* Story */
.b-story
{

}

.b-story-stage
{
    position: relative;
}

/* Story :: Yellow */
.b-story_yellow
{

}

.b-story-yellow-stage_1
{
    height: 800px;
}

.b-story-yellow-stage_2
{
    height: 800px;
}

.b-story-yellow-stage_3
{
    height: 800px;
}

.b-story-yellow-stage_4
{
    height: 800px;
}

/* Paths */
.b-story-yellow-path-1
{
    display: block;
    position: absolute;
    top: -44px;
}

.b-story-yellow-path-2
{
    display: block;
    position: absolute;
    bottom: -61px;
    margin: 0 0 0 -23px;
}

.b-story-yellow-path-3
{
    display: block;
    position: absolute;
    bottom: -63px;
}

.b-story-yellow-path-4
{
    display: block;
    position: absolute;
    bottom: -63px;
}

.b-story-yellow-path-5
{
    display: block;
    position: absolute;
    bottom: -63px;
}

/* Things */
.b-story-yellow-thing-1
{
    display: block;
    position: absolute;
    top: -44px;
    z-index: 1;
}

.b-story-yellow-thing-2
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 0 0 0 -16px;
}

.b-story-yellow-thing-3
{
    display: block;
    position: absolute;
    z-index: 1;
}

.b-story-yellow-thing-4
{
    display: block;
    position: absolute;
    z-index: 1;
}

.b-story-yellow-thing-5
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 371px 0 0 -16px;
}

.b-story-yellow-thing-6
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: -255px 0 0;
}

.b-story-yellow-thing-7
{
    display: block;
    position: absolute;
    z-index: 1;
}

.b-story-yellow-thing-8
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: -64px 0 0;
}

.b-story-yellow-thing-9
{
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0 0 0 -16px;
}

.b-story-yellow-thing-10
{
    display: block;
    position: absolute;
    z-index: 3;
    margin: -45px 0 0 22px;
}

.b-story-yellow-thing-11
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 75px 0 0 34px;
}

.b-story-yellow-thing-12
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 0;
}

.b-story-yellow-thing-13
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 84px 0 0 -8px;
}

.b-story-yellow-thing-14
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 278px 0 0 0;
}

.b-story-yellow-thing-15
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 92px 0 0;
}

.b-story-yellow-thing-16
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 1px 0 0 0;
}

.b-story-yellow-thing-17
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 208px 0 0;
}

.b-story-yellow-thing-18
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 208px 0 0;
}

.b-story-yellow-thing-19
{
    display: block;
    position: absolute;
    z-index: 1;
    margin: 238px 0 0;
}

/* Texts */
.b-story-yellow-text-1
{
    margin-top: 79px;
    margin-bottom: 95px;
    text-align: center;
}

.b-story-yellow-text-2
{
    margin-bottom: 89px;
    margin-top: 90px;
    text-align: center;
}

.b-story-yellow-text-3
{
    margin-bottom: 89px;
    margin-top: 90px;
    text-align: center;
}

.b-story-yellow-text-4
{
    margin-bottom: 89px;
    margin-top: 90px;
    text-align: center;
}

/* Footer */
.b-copyright
{
    margin-top: 100px;
}

/* Icons */
.b-atom-icon
{
    display: block;
    width: 102px;
    height: 102px;
    background: sprite($sprite, "b-atom-icon") no-repeat;
}

.b-icon-play
{
    @include inline-block();
    width: 27px;
    height: 36px;
    background: sprite($sprite, "b-icon-play") no-repeat;
}

/* Slidebar */
.b-slidebar
{
    position: absolute;
    left: 972px;
    right: 0;
    top: -18px;
    bottom: -18px;
    background: #fff;
    border-left: 2px solid #000;
    z-index: 4;

    &::before
    {
        display: block;
        width: 18px;
        content: "";
        position: absolute;
        background: #000;
        opacity: .17;
        left: -18px;
        top: 0;
        bottom: 0;
    }
}

.b-sidebar-toggle
{
    display: block;
    position: fixed;
    width: 67px;
    height: 67px;
    background: sprite($sprite, "b-icon-sidebar-show") no-repeat;
    top: 28px;
    right: 30px;
    z-index: 5;

    &:hover {
        background: sprite($sprite, "b-icon-sidebar-show_hover") no-repeat;
    }
}