@import "settings";

/* Check red theme */
.b-red:checked
{
    $background-color: #ff8282;

    & ~ .l-wrapper-base
    {

        & > .l-wrapper
        {
            background-color: $background-color;
        }

        & .l-person-description_red
        {
            @include opacity(1);
        }

        & .b-theme-toggle_red
        {
            display: none;
        }

        & .b-person-red-icon
        {
            width: 174px;
            height: 174px;
            margin: -18px 0 0 -18px;
            background: sprite($sprite_red_icons, "b-person-red-icon_active") no-repeat;
        }

        & .b-sidebar_red
        {
            display: block;
        }

        & .b-description-video-icon
        {
            background-color: $background-color;
        }

        & .b-story_yellow
        {
            display: none;
            left: -240%;
        }

        & .b-story_red
        {
            display: block;
            left: 0;
        }

        & .b-story_blue
        {
            display: none;
            left: -240%;
        }
    }
}

/* Story */
.b-story_red
{

}

.b-story-red-stage_1,
.b-story-red-stage_2,
.b-story-red-stage_3,
.b-story-red-stage_4
{
    height: 800px;
}

.b-story-red-stage_1
{
    height: 835px;
}

.b-story-red-stage_3
{
    height: 860px;
}

.b-story-red-stage_4
{
    height: 780px;
}

/* Paths */
.b-story-red-path-1
{
    top: -44px;
}

.b-story-red-path-2
{
    bottom: -52px;
    margin: 0 0 0 55px;
}

.b-story-red-path-3
{
    bottom: -63px;
}

.b-story-red-path-4
{
    bottom: -63px;
}

.b-story-red-path-5
{
    bottom: -45px;
}

/* Things */
.b-story-red-thing-1
{
    top: 78px;
}

.b-story-red-thing-2
{

}

.b-story-red-thing-3
{

}

.b-story-red-thing-4
{
    margin: 68px 0 0;
}

.b-story-red-thing-5
{
    margin: -94px 0 0 -18px;
}

.b-story-red-thing-6
{

}

.b-story-red-thing-7
{
    margin: -34px 0 0;
}

.b-story-red-thing-8
{

}

.b-story-red-thing-9
{
    margin: 341px 0 0;
}

.b-story-red-thing-10
{
    margin: -115px 0 0 -18px;
}

.b-story-red-thing-11
{

}

.b-story-red-thing-12
{
    margin: -215px 0 0;
}

.b-story-red-thing-13
{
    margin: -140px 0 0;
}

.b-story-red-thing-14
{
    margin: -46px 0 0 20px;
}

.b-story-red-thing-15
{
    margin: -210px 0 0 -18px;
}

.b-story-red-thing-16
{
    margin: -100px 0 0 -18px;
}

.b-story-red-thing-17
{

}

.b-story-red-thing-18
{
    margin: -196px 0 0;
}

/* Texts */
.b-story-red-text-1
{
    margin-top: 79px;
    margin-bottom: 95px;
}

.b-story-red-text-2
{
    margin-bottom: 89px;
    margin-top: 90px;
}

.b-story-red-text-3
{
    margin-bottom: 89px;
    margin-top: 90px;
}

.b-story-red-text-4
{
    margin-bottom: 197px;
    margin-top: 90px;
}