.step-icon_theme_blue.step-icon_step_1.step-icon_active_no
{
    background-position: -440px 0;
}

.step-icon_theme_blue.step-icon_step_2.step-icon_active_no
{
    background-position: -440px -110px;
}

.step-icon_theme_blue.step-icon_step_3.step-icon_active_no
{
    background-position: -440px -220px;
}

.step-icon_theme_blue.step-icon_step_4.step-icon_active_no
{
    background-position: -440px -330px;
}

.step-icon_theme_blue.step-icon_step_1.step-icon_active_yes
{
    background-position: -550px 0;
}

.step-icon_theme_blue.step-icon_step_2.step-icon_active_yes
{
    background-position: -550px -110px;
}

.step-icon_theme_blue.step-icon_step_3.step-icon_active_yes
{
    background-position: -550px -220px;
}

.step-icon_theme_blue.step-icon_step_4.step-icon_active_yes
{
    background-position: -550px -330px;
}