.person
{
    position: relative;

    display: inline-block;

    width: 230px;

    vertical-align: top;
}

.person__name
{
    padding: 8px 0;

    cursor: pointer;

    font-weight: 800;
}

.person__image
{
    display: block;

    width: 140px;
    height: 150px;
    margin: 30px auto 0;

    cursor: pointer;

    background: url(persons.png) no-repeat;
}

.person_active .person__image
{
    width: 180px;
    height: 180px;
    margin-top: 15px;
}

.person_active .person__image,
.person_active .person__name
{
    cursor: default;
}

.person_color_yellow .person__image
{
    background-position: 0 -90px;
}

.person_color_yellow.person_active .person__image
{
    background-position: -275px -50px;
}

.person_color_red .person__image
{
    background-position: 0 -235px;
}

.person_color_red.person_active .person__image
{
    background-position: -276px -235px;
}

.person_color_blue .person__image
{
    background-position: 0 -390px;
}

.person_color_blue.person_active .person__image
{
    background-position: -276px -420px;
}

.person__subtitle
{
    position: absolute;
    top: 230px;

    display: none;

    width: 300px;
    margin-left: -35px;
    padding-top: 10px;
}

.person_expand .person__subtitle
{
    display: block;
}