.pers
{
	display: inline-block;
	font: bold 15px/320px Arial, sans-serif;
	width: 138px;
	height: 138px;
	border: 18px solid rgba(0,0,0,0);
	background: url('persons.png') no-repeat;
	vertical-align: baseline;
	cursor: pointer;
}

.pers_selected
{
	display: inline-block;
	width: 174px;
	height: 174px;
	border: 0;
	line-height: 380px;
	background: url('persons-selected.png');
}

.pers_color_yellow
{	
	background-position: center top;
}

.pers_color_red
{
	background-position: center center;
	margin: 0 60px;
}

.pers_color_blue
{
	background-position: center bottom;
}