.image_theme_yellow__notebook
{
    background: url(image_theme_yellow__notebook.png) no-repeat;
    width: 620px;
    height: 244px;
}

.image_theme_yellow__notebook_push_down_yes
{
    margin-top: 540px;
}