
body
{
	overflow-x: hidden;
	border-left: 2px solid black;
}

.header
{
	width: 952px;
	height: 590px;	
	background-size: 100%;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.container
{
	padding: 1px; /*margin collapse*/
}


.title
{
	padding: 380px 0 0;
	text-align: center;
	font-size: 35pt;
}

.info
{
	width: 952px;
	min-height: 395px;
	border-bottom: 2px solid black;
	clear: both;
}

.info .container
{
	padding-top: 50px;
}

.info .container > div
{
	display: inline-block;
	vertical-align: top;
	max-width: 450px;
	margin-left: 50px;
}

.info .container div + div
{
	margin: 50px 0 0 70px;
}

.video
{
	width: 150px;
	height: 80px;
	border: 2px solid #000;	
	border-radius: 10px;
	cursor: pointer;
	position: relative;
}

.triangle
{
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 65px;
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;	
	border-left: 20px solid #000;
}


.mainText
{
	font-size: 13pt;
}

.persons
{
	min-height: 400px;
	width: 952px;
}

.personImage
{
	width: 180px;
	height: 155px;
	float: left;
}

.personImage:hover
{
	cursor: pointer;
}

.yellowPerson
{
	background: url('Images/persons.png') -20px -10px no-repeat;
	margin-left: 150px;
}

.redPerson
{
	background: url('Images/persons.png') -20px -161px no-repeat;
	margin-left: 50px;
}

.bluePerson
{
	background: url('Images/persons.png') -20px -310px no-repeat;
	margin-left: 50px;

}

.story
{
	background-size: 100%;
	width: 952px;
	height: 3322px;
	font-size: 13pt;
}

.story1
{
	position: absolute;
	left: 100px;
	top: 1530px;
	max-width: 350px;
}

.story2
{
	position: absolute;
	top: 2330px;
	left: 550px;
	max-width: 350px;
}

.story3
{
	position: absolute;
	left: 100px;
	top: 3120px;
	max-width: 350px;
}

.story4
{
	position: absolute;
	top: 3920px;
	left: 550px;
	max-width: 350px;
}



.bigPersonIcon
{
	display: none;
	position: fixed;
	width: 250px;
	height: 235px;
	left: 380px;
	top: 50%;
	margin-top: -105px;
}

.storyIconContainer
{
	display: none;
	position: fixed;
	left: 300px;
	top: 1px;
}

.storyIcon 
{
	display:inline-block;
	width: 127px;
	height: 127px;
	cursor: pointer;
}


.storyIcon > .redStoryIcon
{
	margin-left: 20px;
}

.storyIcon > .blueStoryIcon
{
	margin-left: 20px;
}

.footer
{
	width: 952px;
	min-height: 395px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.videoPlayerContainer
{
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}


.videoPlayer
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 400px;
}

