.image-theme-blue__phone
{
    background: url(image-theme-blue__phone.png);
    width: 303px;
    height: 384px;
}

.image-theme-blue__phone_push_down_yes
{
    margin-top: 36px;
}

.image-theme-blue__phone_push_left_yes
{
    margin-left: -79px;
}