.yandex-logo
{
    display: inline-block;
    overflow: hidden;
    background: url('/image/sprite1.png') no-repeat -2px -205px;
    width: 78px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
