.footer
{
    margin-top: 20px;
    padding: 20px 100px;

    border-top: solid 2px #000;
    background: #fff;
}

.footer__text
{
    display: inline-block;

    width: 500px;
}

.footer__logo
{
    display: inline-block;

    width: 102px;
    height: 102px;
    margin: 40px 0 0 60px;

    vertical-align: top;

    background: url(footer-logo.png);
}

.footer__links
{
    margin-top: 80px;
}

.footer__link
{
    margin-right: 20px;

    text-decoration: none;

    color: #000;
}

.footer__link:hover
{
    color: #e22;
}

.footer__copy
{
    margin-left: 110px;
}