.image-theme-red__drink-glass
{
    background: url(image-theme-red__drink-glass.png) no-repeat;
    width: 138px;
    height: 224px;
}

.image-theme-red__drink-glass_push_down_yes
{
    margin-top: 84px;
}