.persons__photo_color_red
{
    background-position: -140px 50%;
}

.page_color_red .persons__photo_color_red
{
    width: 175px;
    height: 175px;

    background: -175px 0 url(persons__photo.png);
}
