.persons__photo_color_blue
{
    background-image: url(blue.png);
}

.page_color_blue .persons__photo_color_blue
{
    width: 174px;
    height: 174px;

    background-image: url(blue_current.png);
}
