body {
	overflow-x: hidden;
}
.leftcol {
	position: absolute;
	width: 972px;
}
.leftcol__padding {
	width: 100%;
	height: 18px;
}
.leftcol__seporator {
	background: #000;
	height: 2px;
}
.upsidebackground {
	background: url("i/upside.png");
	position: absolute;
	width: 954px;
	height: 590px;
	margin: -610px 0 0;
}
.upside {
	font: 44px/1.136 arial,helvetica,sans-serif;
	text-align: center;
	height: 170px;
	padding: 420px 96px 0;
}
.description {
	height: 350px;
	padding: 43px 0 0 0;
}
.description_footer {
	height: 230px;
	padding: 30px 0 0 0;
}
.descriptiontext {
	width: 450px;
	margin: 40px 0 0 96px;
	float: left;
}
.descriptiontext > p {
	margin: 0 0 40px;
}
.descriptionvideo {
	margin: 40px 0 0 642px;
}
.descriptionvideo__movie {
	width: 138px;
	height: 78px;
	border: 2px solid #000;
}
.descriptionvideo > p {
	margin: 9px 0 0;
}
.prestory {
	height: 200px;
	padding: 80px 0 0;
}
.singlechar {
	float: left;
	width: 140px;
	height: 140px;
	margin: 0 104px 0 0;
	text-align: center;
}
.singlechar:nth-of-type(1) {
	margin-left: 165px;
}
.singlechar_1 {
	background: url(i/pers-icons.png);
}
.singlechar_2 {
	background: url(i/pers-icons.png) 0 -149px;
}
.singlechar_3 {
	background: url(i/pers-icons.png) 0 -298px;
}
.singlechar > a {
	display: block;
	position: relative;
	padding: 147px 0 0 0;
	text-decoration: none;
	font-weight: 800;
	width: 140px;
	color: black;
}
.intro {
	clear:both;
	height: 130px;
}
.intro_element {
	float: left;
	width: 229px;
	height: 140px;
	margin: 0 15px 0 0;
	text-align: center;
}
.intro_element:nth-of-type(1) {
	margin-left: 125px;
}
.storyhandler {
	height: 3280px;
}
.story {
	height: 3280px;
	margin: -3280px 0 0;
}
.story__character {
	background: url(i/_yellow_bg.png);
}
.story__step {
	position: absolute;
	width: 312px;
	text-align: center;
}
.story__step > p {
	margin: 0 0 1.8em;
}
.story__step_one {
	top: 1546px;
	left: 106px;
}
.story__step_two {
	top: 2344px;
	left: 580px;
}
.story__step_three {
	top: 3147px;
	left: 106px;
}
.story__step_four {
	top: 3945px;
	left: 580px;
}
.rightcol {
	position: absolute;
	width: 713px;
	left: 974px;
	border-left: 2px solid #000;
}
.poststory {
	height: 190px;
	padding: 20px 0 0;
}
.footer {
	clear: both;
	height: 200px;
}
.leftcol__seporator,
.upside,
.description,
.prestory,
.poststory,
.intro,
.storyhandler,
.footer {
	margin: 0 0 0 18px;
	border-left: 2px solid #000;
}
._character
{
	background-color: #fee05d;
}
