video {
    display: inline-block;
}

body {
    margin: 0;
    font:16px/1.465 arial,helvetica,sans-serif;
}

a {
    background: transparent;
}
a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}