/*Общие*/
body
{
    margin: 0;
    padding: 0;
    font: 24px/16px sans-serif;
}

h2
{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

p
{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    width: 800px;
}

ul
{
    font-size: 16px;
    line-height: 24px;
}


.atom
{
    min-width: 972px;
    overflow: hidden;
    position: relative;
}

.left_block
{
    width: 954px;
    margin: 18px 0 18px 18px;
    border: 2px solid #000;
    border-right: none;
}

.wrap_right_block
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 0 0 954px;
    padding: 0 0 0 18px;
    background: url("images/shadow.png") repeat-y;
    z-index: 2;
}

.wrap_right_block.click
{
    cursor: pointer;
}

.right_block
{
    height: 100%;
    padding: 18px 0;
    border-left: 2px solid #000;
}

/*Левый блок*/
.left_block_one
{
    height: 590px;
    text-align: center;
    background: url("images/logotip.png") no-repeat -20px -20px #ffe05d;
}

.logo
{
    width: 100px;
    padding: 17px 17px 0;
    margin: 0 auto;
    border: 2px solid #000;
    border-top: none;
    border-bottom: none;
    background: #fff;
}

.logo a
{
    display: block;
    width: 78px;
    height: 30px;
    margin: 0 auto;
    background-image: url("images/logo.png");
}

.logo_arrow_down_black
{
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 40px solid #000;
    margin: 0 auto;
}

.logo_arrow_down_white
{
    width: 0;
    height: 0;
    border-left: 66px solid transparent;
    border-right: 66px solid transparent;
    border-top: 38px solid #fff;
    margin: -40px -66px;
}

h1
{
    font-size: 45px;
    font-weight: 400;
    line-height: 1.3;
    margin: 323px auto 0;
    width: 762px;
}

.left_block_two
{
    border-top: 2px solid #000;
    padding: 65px 0 65px 80px;
    position: relative;
}

.but_wrap
{
    position: absolute;
    top: 87px;
    right: 120px;
    font: 16px/24px sans-serif;
}

.button
{
    width: 140px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 3px;
    display: block;
    text-align: center;
    margin: 0 0 5px;
    background: #ffe05d;
    cursor: pointer;
}

.button > img {
    margin: 20px 0 0;
}

.left_block_two p
{
    width: 475px;
}

.shadow_back
{
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: url("images/shadow.png");
    z-index: 3;
}

.video_popup
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -218px 0 0 -368px;
    padding: 18px;
    width: 736px;
    height: 416px;
    background: #fff;
    z-index: 4;
}

.left_block_three
{
    height: 240px;
    border-top: 2px solid #000;
    padding: 65px 0 85px 80px;
    position: relative;
    background: #ffe05d;
}

.block_person
{
    margin: 0 50px;
}
.one_pers
{
    float: left;
}
.one_pers_footer
{
    float: left;
}
.pers,
.pers_footer
{
    cursor: pointer;
    background: url("images/pers-small.png");
    width: 138px;
    height: 138px;
    margin: 0 44px;
}


.pers.boy,
.pers_footer.boy
{
    background-position: 0 0;
}
.pers.man,
.pers_footer.man
{
    background-position: 0 288px;
}
.pers.grandman,
.pers_footer.grandman
{
    background-position: 0 138px;
}
.pers.active,
.pers_footer.active
{
    background: url("images/pers-med.png");
    height: 175px;
    margin: -17px 26px 0 25px;
    width: 175px;
    cursor: default;
}
.name
{
    font: 16px/22px sans-serif;
    text-align: center;
    font-weight: 700;
    margin: 10px 0 0;
}
.pers.active.boy,
.pers_footer.active.boy
{
    background-position: 0 0;
}

.pers.active.man,
.pers_footer.active.man
{
    background-position: 0 360px;
}
.pers.active.grandman,
.pers_footer.active.grandman
{
    background-position: 0 720px;
}
.desc_pers
{
    font-size: 16px;
    display: none;
    margin: 20px 0 0 -30px;
    padding: 0 0 20px;
    position: absolute;
    text-align: center;
    width: 297px;
    line-height: 24px;
}
.one_pers:hover .desc_pers
{
    display: block;
}

.left_block_four
{
    height: 3370px;
    position: relative;
    background: #ffe05d;
}

/*--------История персонажей----------*/
/*Желтый*/
.left_block_fours.boy
{
    left: 0;
    width: 762px;
    position: absolute;
    padding: 0 78px 0 96px;
    background: url("images/start-yellow.png") top center no-repeat;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.yellow-1-step
{
    height: 870px;
    background: url("images/yellow-1-back.png") no-repeat 49px 305px;
    position: relative;
}
.yellow-1-step p
{
    width: 300px;
    text-align: center;
    padding: 100px 0 0;
}
.yellow-1-step p + p
{
    padding: 0;
}
.maps
{
    float: right;
    margin: -15px 70px 0 0;
}
.ticket
{
    float: left;
    margin: 40px 0 0 -226px;
}
.compass
{
    margin: 40px 0 0 110px;
}

.book {
    margin: 45px;
    position: absolute;
}

.yellow-2-step
{
    height: 800px;
    text-align: right;
    background: url("images/yellow-2-back.png") 0 235px no-repeat;
}
.yellow-2-step p
{
    position: absolute;
    right: 66px;
    padding: 0;
    width: 300px;
    text-align: center;
}
.yellow-2-step p + p
{
    padding: 100px 0 0;
}

.disk {
    left: 0;
    margin: 300px 0 0 -20px;
    position: absolute;
}

.computer {
    left: 90px;
    margin: 25px 0 0;
    position: absolute;
}

.phone {
    margin: 270px 150px 0;
    position: absolute;
    right: 0;
}

.yellow-3-step
{
    height: 740px;
    background: url("images/yellow-3-back.png") no-repeat 0 160px;
    position: relative;
}
.yellow-3-step p
{
    width: 300px;
    text-align: center;
    padding: 0;
}
.big-book
{
    position: absolute;
    right: -94px;
    top: -135px;
}
.money
{
    float: left;
    margin: 0 0 0 -130px;
}
.ipod
{
    margin: 140px 10px 0;
    position: absolute;
}

.yellow-4-step
{
    height: 890px;
    text-align: right;
    background: url("images/yellow-4-back.png") 143px 300px no-repeat;
}
.yellow-4-step p
{
    position: absolute;
    right: 66px;
    padding: 0;
    width: 300px;
    text-align: center;
}
.yellow-4-step p + p
{
    padding: 100px 0 0;
}

.bag {
    left: 0;
    margin: 20px 0 0 70px;
    position: absolute;
}

.band {
    margin: 350px 0 0;
    position: absolute;
    right: -16px;
}

.camera {
    margin: 560px 150px 0;
    position: absolute;
    right: 0;
}



/*Красный*/
.left_block_fours.man
{
    left: -972px;
    width: 762px;
    position: absolute;
    padding: 0 78px 0 96px;
    background: url("images/start-red.png") top center no-repeat;
    height: 3280px;
    border: none;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.red-1-step
{
    height: 900px;
    background: url("images/red-1-back.png") no-repeat 127px 340px;
}
.red-1-step p
{
    width: 300px;
    text-align: center;
    padding: 130px 0 0;
}
.red-1-step p + p
{
    padding: 0;
}
.tour_and_passport
{
    float: right;
    margin: 145px -92px 0 0;
}
.photo
{
    padding: 40px 0 0;
}

.red-2-step
{
    position: relative;
    height: 800px;
    text-align: right;
    background: url("images/red-2-back.png") 3px 220px no-repeat;
}
.red-2-step p
{
    position: absolute;
    padding: 0;
    right: 0;
    width: 300px;
    text-align: center;
}
.red-2-step p + p
{
    padding: 130px 0 0;
}

.beer
{
    left: 0;
    margin: -220px 0 0 -116px;
    position: absolute;
    top: 0;
}

.red-phone
{
    left: 20px;
    margin: 300px 0 0;
    position: absolute;
}

.check
{
    margin: 260px -62px 0 0;
}

.glasses {
    margin: 670px 0 0;
    position: absolute;
    right: -85px;
}

.red-3-step
{
    height: 850px;
    background: url("images/red-3-back.png") no-repeat 5px 270px;
    position: relative;
}
.red-3-step p
{
    width: 300px;
    text-align: center;
    padding: 0;
}
.toys
{
    margin: -200px 0 0 -116px;
    position: absolute;
}
.cup
{
    position: absolute;
    right: -94px;
    top: 0;
}
.key
{
    padding: 40px 0 0;
}

.red-4-step
{
    position: relative;
    height: 800px;
    text-align: right;
    background: url("images/red-4-back.png") 381px 210px no-repeat;
}
.red-4-step p
{
    position: absolute;
    padding: 0;
    right: 0;
    width: 300px;
    text-align: center;
}
.red-4-step p + p
{
    padding: 110px 0 0;
}
.bugs
{
    left: 0;
    margin: -280px 0 0 -116px;
    position: absolute;
    top: 0;
}
.food
{
    left: -116px;
    margin: 260px 0 0;
    position: absolute;
}

/*Синий*/
.left_block_fours.grademan
{
    left: -972px;
    width: 762px;
    position: absolute;
    padding: 0 78px 0 96px;
    background: url("images/start-blue.png") top center no-repeat;
    height: 3280px;
    border: none;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.blue-1-step
{
    height: 945px;
    background: url("images/blue-1-back.png") 69px 345px no-repeat;
}
.blue-1-step p
{
    width: 300px;
    text-align: center;
    padding: 100px 0 0;
}
.blue-1-step p + p
{
    padding: 0;
}
.ticket_watch
{
    float: right;
    margin: 105px -94px 0 0;
}

.phone_st
{
    margin: 40px 0 0 -116px;
}
.pen
{
    display: block;
    float: right;
    margin: 40px 25px 0 0;
}

.blue-2-step
{
    height: 795px;
    text-align: right;
    background: url("images/blue-2-back.png") 6px 230px no-repeat;
}
.blue-2-step p {
    position: absolute;
    right: 80px;
    width: 300px;
    text-align: center;
    margin: -10px 0 0;
}
.blue-2-step p + p {
    padding: 100px 0 0;
}


.notebook {
    left: -20px;
    position: absolute;
}

.ipad {
    left: 170px;
    position: absolute;
}

.diving_mask {
    margin: 40px 0 0;
    position: absolute;
    right: -20px;
}


.blue-3-step
{
    position: relative;
    height: 780px;
    background: url("images/blue-3-back.png") 2px 190px no-repeat;
}
.blue-3-step p
{
    width: 300px;
    text-align: center;
    padding: 0;
}

.phone-taxi
{
    margin: 40px 0 0 60px;
}
.cards
{
    position: absolute;
    right: -94px;
    top: -150px;
}

.blue-4-step
{
    position: relative;
    height: 795px;
    text-align: right;
    background: url("images/blue-4-back.png") 137px 210px no-repeat;
}
.blue-4-step p {
    position: absolute;
    right: 0;
    width: 300px;
    text-align: center;
    margin: -10px 0 0;
}
.blue-4-step p + p {
    padding: 100px 0 0;
}


.bags {
    left: -116px;
    position: absolute;
    top: -240px;
}

.book-yoga {
    position: absolute;
    right: -94px;
    top: 230px;
}

.left_block_fours.boy.actives,
.left_block_fours.man.actives,
.left_block_fours.grademan.actives
{
    display: block;
    z-index: 1;
}


.left_block_five
{
    height: 185px;
    border-bottom: 2px solid #000;
    padding: 0 0 85px 80px;
    position: relative;
    background: #ffe05d;
}
.left_block_six
{
    padding: 65px 0 85px 80px;
    position: relative;
    background: #fff;
}
.left_block_six p
{
    width: 500px;
}

a
{
    text-decoration: none;
    color: #000;
}

.left_block_six div
{
    width: 450px;
    font-size: 16px;
    line-height: 24px;
}
.left_block_six div span
{
    float: right;
}


/*Правый  блок*/
.right_block_one
{
    border-bottom: 2px solid #000;
    background: #fff;
    padding: 18px 0 35px 35px;
}
.right_block_one h2
{
    line-height: 30px;
}

.right_block_two
{
    height: 893px;
    border-bottom: 2px solid #000;
    background: #fff;
    padding: 18px 0 35px 35px;
}

.right_block_three
{
    height: 743px;
    padding: 18px 0 50px 35px;
    border-bottom: 2px solid #000;
    background: #fff;
}

.right_block_three.yellow
{
    height: 709px;
}


.right_block_four
{
    padding: 18px 0 50px 35px;
    border-bottom: 2px solid #000;
    background: #fff;
}
.right_block_four.yellow
{
    height: 730px;
}
.right_block_four.red
{
    height: 700px;
}
.right_block_four.blue
{
    height: 730px;
}
.right_block_five
{
    padding: 18px 0 50px 35px;
    border-bottom: 2px solid #000;
    background: #fff;
}
.right_block_five.yellow
{
    height: 670px;
}
.right_block_five.red
{
    height: 805px;
}
.right_block_six
{
    padding: 18px 0 50px 35px;
    border-bottom: 2px solid #000;
    background: #fff;
}
.right_block_six.yellow
{
    height: 830px;
}
.right_block_six.red
{
    height: 725px;
}

.right_block_three.red,
.right_block_three.blue,
.right_block_four.red,
.right_block_four.blue,
.right_block_five.red,
.right_block_five.blue,
.right_block_six.red,
.right_block_six.blue
{
    display: none;
}

.right_block_seven
{
    padding: 18px 0 50px 35px;
    background: #fff;
}
