.image_blue_phone
{
    bottom: 71px;
    left: -60px;
}

.image_blue_pen
{
    bottom: 222px;
}

.image_blue_watch
{
    top: 57px;
}

.image_blue_ticket
{
    top: 445px;
}

.image_blue_notebook
{
    top: 87px;
}

.image_blue_photo
{
    top: 559px;
}

.image_blue_paper
{
    top: 101px;
    left: -284px;
}

.image_blue_notebook-2
{
    top: 243px;
    left: -60px;
}

.image_blue_ipad
{
    top: 100px;
}

.image_blue_cup
{
    bottom: 56px;
}

.image_blue_mask
{
    bottom: 234px;
}

.image_blue_palka
{
    bottom: 72px;
}

.image_blue_iphone
{
    bottom: 183px;
}

.image_blue_cards
{
    top: 338px;
}

.image_blue_tie
{
    top: 100px;
}

.image_blue_krug
{
    bottom: 80px;
}

.image_blue_money
{
    top: 486px;
}

.image_blue_bag
{
    bottom: 123px;
    left: -60px;
}

.image_blue_newspaper
{
    bottom: 54px;
}

.image_blue_magazine
{
    bottom: 64px;
}

.image_blue_book
{
    bottom: 61px;
    left: -18px;
}

.image_blue_path-1
{
    bottom: 44px;
}

.image_blue_path-2
{
    top: 70px;
}

.image_blue_path-3
{
    top: 69px;
}

.image_blue_path-4
{
    top: 69px;
}

.image_blue_path-5
{
    top: 52px;
}
