body
{
    padding: 0;
    margin: 0;
    font: 1em "Arial";
    line-height: 1.5;
}

.wrap
{

}

.container
{
    width: 975px;
    float: left;
    background: #ff8282;
    border: 2px solid #000;
    margin: 18px;
    z-index: 1;
}

/* DRINKS AND AIRPLANES! */
.drinks-and-airplanes-box
{
    position: relative;
    height: 590px;
    background: url(/images/yandex-box_bg.png);
    border-bottom: 2px solid #000;
}

.drinks-and-airplanes-box__logo
{
    width: 138px;
    height: 92px;
    margin: 0 auto;
    background: url(/images/yandex-logo_bg.png)
}

.drinks-and-airplanes-box__text-field
{
    position: absolute;
    width: 990px;
    bottom: 40px;
    text-align: center;
}

/* ANNOTATION AND VIDEO! */
.annotation-and-video-box
{
    height: 395px;
    background: #fff;
    border-bottom: 2px solid #000;
}

.annotation-and-video-box__text-field
{
    padding: 70px 425px 0 96px;
}

.annotation-and-video-box__button-field
{
    position: absolute;
    padding: 94px 0 0 642px;
    text-align: center;
}

.annotation-and-video-box__button
{
    width: 190px;
    height: 90px;
    margin: 0  0 5px;
    border: 2px solid #000;
    border-radius: 5px;
    background: #ff8282 url(/images/annotation-and-video-box__button_arrow-right.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.annotation-and-video-box__button:hover
{
    box-shadow: 0 0 20px #ff8282;
}

/* STORYLINE! */
.storyline-box
{
    position: relative;
    height: 4450px;
}

.storyline-box__red-images
{
    height: 3280px;
    background: url(/images/red/guides.png);
    background-repeat: no-repeat;
    background-position: center;
}

.storyline-box__red_image
{
    position: absolute;
    pointer-events: none;
}

.storyline-box__red_image-family
{
    margin: 373px 0 0 96px;
}

.storyline-box__red_image-papers
{
    margin: 123px 0 0 486px;
}

.storyline-box__red_image-passport
{
    margin: 520px 0 0 564px;
}

.storyline-box__red_image-book
{
    margin: 684px 0 0 174px;
}

.storyline-box__red_image-bear
{
    margin: 733px 0 0 -60px;
}

.storyline-box__red_image-applephone
{
    margin: 1230px 0 0 96px;
}

.storyline-box__red_image-bill
{
    margin: 1160px 0 0 350px;
}

.storyline-box__red_image-lenses_up
{
    margin: 1210px 0 0 520px;
}

.storyline-box__red_image-lenses_down
{
    margin: 1230px 0 0 550px;
}

.storyline-box__red_image-tamagochi
{
    margin: 1500px 0 0 -48px;
}

.storyline-box__red_image-glass
{
    margin: 1590px 0 0 580px;
}

.storyline-box__red_image-driver-lic
{
    margin: 1972px 0 0 96px;
}

.storyline-box__red_image-keys
{
    margin: 2100px 0 0 260px;
}

.storyline-box__red_image-ipc
{
    margin: 1850px -48px 0 590px;
}

.storyline-box__red_image-cup-of-milk
{
    margin: 2200px 0 0 430px;
}

.storyline-box__red_image-bag-one
{
    margin: 2400px 0 0 -64px;
}

.storyline-box__red_image-bag-two
{
    margin: 2340px 0 0 -82px;
}

.storyline-box__red_image-bag-three
{
    margin: 2270px 0 0 -64px;
}

.storyline-box__red_image-bag-food
{
    margin: 2800px 0 0 -250px;
}

.storyline-box__red_image-bag-drinks
{
    margin: 2830px 0 0 96px;
}

/* FOOTER! */
.footer
{
    height: 400px;
    background: #fff;
}

.footer__text-field
{
    padding: 70px 425px 0 96px;
}

.footer__span-text-field
{
    margin-top: 50px;
}

.footer__span-text
{
    margin: 0 40px 0 0;
}

.footer__image-field
{
    position: absolute;
    padding: 100px 0 0 666px;  /* Так правда лучше Оо */
}

/* SIDEBAR! */
.sidebar
{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 1008px;
    background: #000;
}