.aside-button
{
    position: fixed;
    z-index: 20;
    top: 70px;
    right: 20px;

    display: block;

    width: 65px;
    height: 69px;

    cursor: pointer;

    background-image: url(aside-button.png);
}
