.nav_num_one .nav__ico_color_red
{
    background-position: -150px -50px;
}

.nav_num_two .nav__ico_color_red
{
    background-position: -150px -150px;
}

.nav_num_three .nav__ico_color_red
{
    background-position: -150px -250px;
}

.nav_num_four .nav__ico_color_red
{
    background-position: -150px -350px;
}

.page_color_red .nav_num_one .nav__ico_color_red
{
    background-position: -50px -50px;
}

.page_color_red .nav_num_two .nav__ico_color_red
{
    background-position: -50px -150px;
}

.page_color_red .nav_num_three .nav__ico_color_red
{
    background-position: -50px -250px;
}

.page_color_red .nav_num_four .nav__ico_color_red
{
    background-position: -50px -350px;
}
