.image-theme-red__food-sausage
{
    background: url(image-theme-red__food-sausage.png) no-repeat;
    width: 475px;
    height: 409px;
}
/*

.image-theme-red__food-sausage_push_up_yes
{
    margin-top: -124px;
}

.image-theme-red__food-sausage_push_left_yes
{
    margin-left: -75px;
}*/
