.image_theme_red__food-eggs
{
    background: url(image_theme_red__food-eggs.png) no-repeat;
    width: 475px;
    height: 409px;
}

.image_theme_red__food-eggs_push_down_yes
{
    margin-top: 40px;
}