@import url(../../desktop.blocks/page/page.css);
@import url(../../desktop.blocks/button/button.css);
@import url(../../desktop.blocks/video/video.css);
@import url(../../desktop.blocks/story/story.css);
@import url(../../desktop.blocks/person-center/person-center.css);
@import url(../../desktop.blocks/head-img/head-img.css);
@import url(../../desktop.blocks/head-img/__text/head-img__text.css);
@import url(../../desktop.blocks/general-info/general-info.css);
@import url(../../desktop.blocks/general-info/__text/general-info__text.css);
@import url(../../desktop.blocks/general-info/__video/general-info__video.css);
@import url(../../desktop.blocks/general-info/__icon/general-info__icon.css);
@import url(../../desktop.blocks/p/p.css);
@import url(../../desktop.blocks/videoLink/videoLink.css);
@import url(../../desktop.blocks/persons/persons.css);
@import url(../../desktop.blocks/center/center.css);
@import url(../../desktop.blocks/pers/pers.css);
@import url(../../desktop.blocks/area/area.css);
@import url(../../desktop.blocks/part/part.css);
@import url(../../desktop.blocks/part/_number/part_number_1.css);
@import url(../../desktop.blocks/part/_number/part_number_2.css);
@import url(../../desktop.blocks/part/_number/part_number_3.css);
@import url(../../desktop.blocks/part/_number/part_number_4.css);
@import url(../../desktop.blocks/text1/text1.css);
@import url(../../desktop.blocks/images/images.css);
@import url(../../desktop.blocks/text2/text2.css);
@import url(../../desktop.blocks/persons-bottom/persons-bottom.css);
@import url(../../desktop.blocks/menu/menu.css);
@import url(../../desktop.blocks/copyright/copyright.css);
@import url(../../desktop.blocks/data/data.css);
@import url(../../desktop.blocks/user-script/user-script.css);
@import url(../../desktop.blocks/data-header/data-header.css);
@import url(../../desktop.blocks/presentation/presentation.css);
@import url(../../desktop.blocks/data-block/data-block.css);
@import url(../../desktop.blocks/data-footer/data-footer.css);
@import url(../../desktop.blocks/ul/ul.css);
@import url(../../desktop.blocks/link-right/link-right.css);
