@import url(../../desktop.blocks/page/page.css);
@import url(../../desktop.blocks/page/__wrap/page__wrap.css);
@import url(../../desktop.blocks/atom/atom.css);
@import url(../../desktop.blocks/atom/__content/atom__content.css);
@import url(../../desktop.blocks/atom/__border/atom__border.css);
@import url(../../desktop.blocks/header/header.css);
@import url(../../desktop.blocks/header-logo/header-logo.css);
@import url(../../desktop.blocks/header-logo/__orbital/header-logo__orbital.css);
@import url(../../desktop.blocks/header-logo/__title/header-logo__title.css);
@import url(../../desktop.blocks/header-logo/__ya-logo/header-logo__ya-logo.css);
@import url(../../desktop.blocks/header-info/header-info.css);
@import url(../../desktop.blocks/header-info/__inner/header-info__inner.css);
@import url(../../desktop.blocks/header-info/__video-image/header-info__video-image.css);
@import url(../../desktop.blocks/users/users.css);
@import url(../../desktop.blocks/user/user.css);
@import url(../../desktop.blocks/user/__name/user__name.css);
@import url(../../desktop.blocks/user/__text/user__text.css);
@import url(../../desktop.blocks/users/__wrap/users__wrap.css);
@import url(../../desktop.blocks/locomotive/locomotive.css);
@import url(../../desktop.blocks/locomotive/__icons/locomotive__icons.css);
@import url(../../desktop.blocks/user-icon/user-icon.css);
@import url(../../desktop.blocks/step-icon/step-icon.css);
@import url(../../desktop.blocks/step-icon/__yellow/step-icon__yellow.css);
@import url(../../desktop.blocks/step-icon/__red/step-icon__red.css);
@import url(../../desktop.blocks/step-icon/__blue/step-icon__blue.css);
@import url(../../desktop.blocks/stories/stories.css);
@import url(../../desktop.blocks/story/story.css);
@import url(../../desktop.blocks/story/__steps/story__steps.css);
@import url(../../desktop.blocks/step/step.css);
@import url(../../desktop.blocks/step/__images/step__images.css);
@import url(../../desktop.blocks/step/__text/step__text.css);
@import url(../../desktop.blocks/image_theme_yellow/image_theme_yellow.css);
@import url(../../desktop.blocks/image_theme_yellow/__aeroexpress/image_theme_yellow__aeroexpress.css);
@import url(../../desktop.blocks/image_theme_yellow/__aviaticket/image_theme_yellow__aviaticket.css);
@import url(../../desktop.blocks/image_theme_yellow/__backpack/image_theme_yellow__backpack.css);
@import url(../../desktop.blocks/image_theme_yellow/__book/image_theme_yellow__book.css);
@import url(../../desktop.blocks/image_theme_yellow/__bottle/image_theme_yellow__bottle.css);
@import url(../../desktop.blocks/image_theme_yellow/__camera/image_theme_yellow__camera.css);
@import url(../../desktop.blocks/image_theme_yellow/__carton/image_theme_yellow__carton.css);
@import url(../../desktop.blocks/image_theme_yellow/__compass/image_theme_yellow__compass.css);
@import url(../../desktop.blocks/image_theme_yellow/__iphone/image_theme_yellow__iphone.css);
@import url(../../desktop.blocks/image_theme_yellow/__ipod/image_theme_yellow__ipod.css);
@import url(../../desktop.blocks/image_theme_yellow/__laptop/image_theme_yellow__laptop.css);
@import url(../../desktop.blocks/image_theme_yellow/__magazine/image_theme_yellow__magazine.css);
@import url(../../desktop.blocks/image_theme_yellow/__map/image_theme_yellow__map.css);
@import url(../../desktop.blocks/image_theme_yellow/__money/image_theme_yellow__money.css);
@import url(../../desktop.blocks/image_theme_yellow/__notebook/image_theme_yellow__notebook.css);
@import url(../../desktop.blocks/image_theme_yellow/__polaroid/image_theme_yellow__polaroid.css);
@import url(../../desktop.blocks/image_theme_yellow/__ticket/image_theme_yellow__ticket.css);
@import url(../../desktop.blocks/image_theme_yellow/__traffic/image_theme_yellow__traffic.css);
@import url(../../desktop.blocks/path_theme_yellow/__step-1/path_theme_yellow__step-1.css);
@import url(../../desktop.blocks/path_theme_yellow/__step-2/path_theme_yellow__step-2.css);
@import url(../../desktop.blocks/path_theme_yellow/__step-3/path_theme_yellow__step-3.css);
@import url(../../desktop.blocks/path_theme_yellow/__step-4/path_theme_yellow__step-4.css);
@import url(../../desktop.blocks/path_theme_yellow/__step-5/path_theme_yellow__step-5.css);
@import url(../../desktop.blocks/image_theme_red/image_theme_red.css);
@import url(../../desktop.blocks/image_theme_red/__bags/image_theme_red__bags.css);
@import url(../../desktop.blocks/image_theme_red/__bear/image_theme_red__bear.css);
@import url(../../desktop.blocks/image_theme_red/__bill/image_theme_red__bill.css);
@import url(../../desktop.blocks/image_theme_red/__book/image_theme_red__book.css);
@import url(../../desktop.blocks/image_theme_red/__drink-coup-full/image_theme_red__drink-coup-full.css);
@import url(../../desktop.blocks/image_theme_red/__drink-coup-middle/image_theme_red__drink-coup-middle.css);
@import url(../../desktop.blocks/image_theme_red/__drink-glass/image_theme_red__drink-glass.css);
@import url(../../desktop.blocks/image_theme_red/__drink-milk/image_theme_red__drink-milk.css);
@import url(../../desktop.blocks/image_theme_red/__drink-wine/image_theme_red__drink-wine.css);
@import url(../../desktop.blocks/image_theme_red/__food-eggs/image_theme_red__food-eggs.css);
@import url(../../desktop.blocks/image_theme_red/__food-fish/image_theme_red__food-fish.css);
@import url(../../desktop.blocks/image_theme_red/__food-grape/image_theme_red__food-grape.css);
@import url(../../desktop.blocks/image_theme_red/__imac-keyboard/image_theme_red__imac-keyboard.css);
@import url(../../desktop.blocks/image_theme_red/__imac-monitor/image_theme_red__imac-monitor.css);
@import url(../../desktop.blocks/image_theme_red/__iphone/image_theme_red__iphone.css);
@import url(../../desktop.blocks/image_theme_red/__keys/image_theme_red__keys.css);
@import url(../../desktop.blocks/image_theme_red/__lenses/image_theme_red__lenses.css);
@import url(../../desktop.blocks/image_theme_red/__license/image_theme_red__license.css);
@import url(../../desktop.blocks/image_theme_red/__passports/image_theme_red__passports.css);
@import url(../../desktop.blocks/image_theme_red/__portlet/image_theme_red__portlet.css);
@import url(../../desktop.blocks/image_theme_red/__tamagotchi/image_theme_red__tamagotchi.css);
@import url(../../desktop.blocks/image_theme_red/__tour/image_theme_red__tour.css);
@import url(../../desktop.blocks/path_theme_red/__step-1/path_theme_red__step-1.css);
@import url(../../desktop.blocks/path_theme_red/__step-2/path_theme_red__step-2.css);
@import url(../../desktop.blocks/path_theme_red/__step-3/path_theme_red__step-3.css);
@import url(../../desktop.blocks/path_theme_red/__step-4/path_theme_red__step-4.css);
@import url(../../desktop.blocks/path_theme_red/__step-5/path_theme_red__step-5.css);
@import url(../../desktop.blocks/image_theme_blue/image_theme_blue.css);
@import url(../../desktop.blocks/image_theme_blue/__bag/image_theme_blue__bag.css);
@import url(../../desktop.blocks/image_theme_blue/__book/image_theme_blue__book.css);
@import url(../../desktop.blocks/image_theme_blue/__cards/image_theme_blue__cards.css);
@import url(../../desktop.blocks/image_theme_blue/__cup/image_theme_blue__cup.css);
@import url(../../desktop.blocks/image_theme_blue/__ipad/image_theme_blue__ipad.css);
@import url(../../desktop.blocks/image_theme_blue/__iphone/image_theme_blue__iphone.css);
@import url(../../desktop.blocks/image_theme_blue/__krug/image_theme_blue__krug.css);
@import url(../../desktop.blocks/image_theme_blue/__maska/image_theme_blue__maska.css);
@import url(../../desktop.blocks/image_theme_blue/__money/image_theme_blue__money.css);
@import url(../../desktop.blocks/image_theme_blue/__newspaper/image_theme_blue__newspaper.css);
@import url(../../desktop.blocks/image_theme_blue/__notebook2/image_theme_blue__notebook2.css);
@import url(../../desktop.blocks/image_theme_blue/__notepad/image_theme_blue__notepad.css);
@import url(../../desktop.blocks/image_theme_blue/__palka/image_theme_blue__palka.css);
@import url(../../desktop.blocks/image_theme_blue/__paper/image_theme_blue__paper.css);
@import url(../../desktop.blocks/image_theme_blue/__pen/image_theme_blue__pen.css);
@import url(../../desktop.blocks/image_theme_blue/__phone/image_theme_blue__phone.css);
@import url(../../desktop.blocks/image_theme_blue/__photo/image_theme_blue__photo.css);
@import url(../../desktop.blocks/image_theme_blue/__pie/image_theme_blue__pie.css);
@import url(../../desktop.blocks/image_theme_blue/__ticket/image_theme_blue__ticket.css);
@import url(../../desktop.blocks/image_theme_blue/__watch/image_theme_blue__watch.css);
@import url(../../desktop.blocks/image_theme_blue/__yoga/image_theme_blue__yoga.css);
@import url(../../desktop.blocks/path_theme_blue/__step-1/path_theme_blue__step-1.css);
@import url(../../desktop.blocks/path_theme_blue/__step-2/path_theme_blue__step-2.css);
@import url(../../desktop.blocks/path_theme_blue/__step-3/path_theme_blue__step-3.css);
@import url(../../desktop.blocks/path_theme_blue/__step-4/path_theme_blue__step-4.css);
@import url(../../desktop.blocks/path_theme_blue/__step-5/path_theme_blue__step-5.css);
@import url(../../desktop.blocks/footer/footer.css);
@import url(../../desktop.blocks/footer/__atom-logo/footer__atom-logo.css);
@import url(../../desktop.blocks/footer/__copyright/footer__copyright.css);
@import url(../../desktop.blocks/footer/__foot/footer__foot.css);
@import url(../../desktop.blocks/footer/__links/footer__links.css);
@import url(../../desktop.blocks/footer/__link/footer__link.css);
@import url(../../desktop.blocks/atom-ledge/atom-ledge.css);
@import url(../../desktop.blocks/atom-ledge/__shadow/atom-ledge__shadow.css);
@import url(../../desktop.blocks/atom-ledge/__content/atom-ledge__content.css);
@import url(../../desktop.blocks/atom-ledge/__inner/atom-ledge__inner.css);
