.image-set__theme_yellow__aeroexpress
{
    background: url(image_theme_yellow__aeroexpress.png) no-repeat;
    width: 628px;
    height: 244px;
}

.image-set_theme_yellow__aeroexpress_push_down_yes
{
    margin-top: 318px;
}

.image-set_theme_yellow__aeroexpress_push_left_yes
{
    margin-left: -174px;
}