.head-history__title {
  font: 48px/48px "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 428px;

}
