.image-theme-red__imac-monitor
{
    background: url(image-theme-red__imac-monitor.png) no-repeat;
    width: 450px;
    height: 377px;
}

.image-theme-red__imac-monitor_push_down_yes
{
    margin-top: 80px;
}
