.image-theme-blue__bag
{
    background: url(image-theme-blue__bag.png) no-repeat;
    width: 475px;
    height: 409px;
}

.image-theme-blue__bag_push_up_yes
{
    margin-top: -124px;
}

.image-theme-blue__bag_push_left_yes
{
    margin-left: -75px;
}