@import url(../../desktop.blocks/page/page.css);
@import url(../../desktop.blocks/wrapper/wrapper.css);
@import url(../../desktop.blocks/services-toggle/services-toggle.css);
@import url(../../desktop.blocks/history/history.css);
@import url(../../desktop.blocks/head-history/head-history.css);
@import url(../../desktop.blocks/head-history/__background/head-history__background.css);
@import url(../../desktop.blocks/head-history/__title/head-history__title.css);
@import url(../../desktop.blocks/video-history/video-history.css);
@import url(../../desktop.blocks/grid-wrap/grid-wrap.css);
@import url(../../desktop.blocks/introductory-text/introductory-text.css);
@import url(../../desktop.blocks/grid/grid.css);
@import url(../../desktop.blocks/paragraf/paragraf.css);
@import url(../../desktop.blocks/video-button/video-button.css);
@import url(../../desktop.blocks/video-button/__button/video-button__button.css);
@import url(../../desktop.blocks/video-button/__title/video-button__title.css);
@import url(../../desktop.blocks/select-person/select-person.css);
@import url(../../desktop.blocks/select-person/_top/select-person_top_up.css);
@import url(../../desktop.blocks/person-name/person-name.css);
@import url(../../desktop.blocks/person-description/person-description.css);
@import url(../../desktop.blocks/indent/indent.css);
@import url(../../desktop.blocks/person-history/person-history.css);
@import url(../../desktop.blocks/history-max/history-max.css);
@import url(../../desktop.blocks/max-history-bg/max-history-bg.css);
@import url(../../desktop.blocks/max-history-bg/__bg-1/max-history-bg__bg-1.css);
@import url(../../desktop.blocks/max-history-bg/__bg-2/max-history-bg__bg-2.css);
@import url(../../desktop.blocks/max-history-bg/__bg-3/max-history-bg__bg-3.css);
@import url(../../desktop.blocks/max-history-bg/__bg-4/max-history-bg__bg-4.css);
@import url(../../desktop.blocks/max-history-bg/__bg-5/max-history-bg__bg-5.css);
@import url(../../desktop.blocks/history-text/history-text.css);
@import url(../../desktop.blocks/step1/step1.css);
@import url(../../desktop.blocks/step2/step2.css);
@import url(../../desktop.blocks/step3/step3.css);
@import url(../../desktop.blocks/step4/step4.css);
@import url(../../desktop.blocks/history-alex/history-alex.css);
@import url(../../desktop.blocks/alex-history-bg/alex-history-bg.css);
@import url(../../desktop.blocks/alex-history-bg/__bg-1/alex-history-bg__bg-1.css);
@import url(../../desktop.blocks/alex-history-bg/__bg-2/alex-history-bg__bg-2.css);
@import url(../../desktop.blocks/alex-history-bg/__bg-3/alex-history-bg__bg-3.css);
@import url(../../desktop.blocks/alex-history-bg/__bg-4/alex-history-bg__bg-4.css);
@import url(../../desktop.blocks/alex-history-bg/__bg-5/alex-history-bg__bg-5.css);
@import url(../../desktop.blocks/history-grig/history-grig.css);
@import url(../../desktop.blocks/grig-history-bg/grig-history-bg.css);
@import url(../../desktop.blocks/grig-history-bg/__bg-1/grig-history-bg__bg-1.css);
@import url(../../desktop.blocks/grig-history-bg/__bg-2/grig-history-bg__bg-2.css);
@import url(../../desktop.blocks/grig-history-bg/__bg-3/grig-history-bg__bg-3.css);
@import url(../../desktop.blocks/grig-history-bg/__bg-4/grig-history-bg__bg-4.css);
@import url(../../desktop.blocks/grig-history-bg/__bg-5/grig-history-bg__bg-5.css);
@import url(../../desktop.blocks/select-max/select-max.css);
@import url(../../desktop.blocks/select-alex/select-alex.css);
@import url(../../desktop.blocks/select-grig/select-grig.css);
@import url(../../desktop.blocks/atom-footer/atom-footer.css);
@import url(../../desktop.blocks/atom-logo/atom-logo.css);
@import url(../../desktop.blocks/max-way/max-way.css);
@import url(../../desktop.blocks/grig-way/grig-way.css);
@import url(../../desktop.blocks/used-services/used-services.css);
@import url(../../desktop.blocks/application-scenarios/application-scenarios.css);
@import url(../../desktop.blocks/used-services-block/used-services-block.css);
@import url(../../desktop.blocks/used-services-content-wrapper/used-services-content-wrapper.css);
@import url(../../desktop.blocks/title/title.css);
@import url(../../desktop.blocks/atom-logo2/atom-logo2.css);
@import url(../../desktop.blocks/yandex-logo/yandex-logo.css);
@import url(../../desktop.blocks/presentation/presentation.css);
@import url(../../desktop.blocks/YaC-video/YaC-video.css);
@import url(../../desktop.blocks/us-step1/us-step1.css);
@import url(../../desktop.blocks/img/img.css);
@import url(../../desktop.blocks/us-step2/us-step2.css);
@import url(../../desktop.blocks/us-step3/us-step3.css);
@import url(../../desktop.blocks/us-step4/us-step4.css);
@import url(../../desktop.blocks/closed-testing/closed-testing.css);
@import url(../../desktop.blocks/hack/hack.css);
