.image-theme-yellow__traffic
{
    background: url(image-theme-yellow__traffic.png) no-repeat;
    width: 620px;
    height: 244px;
}

.image-theme-yellow__traffic_push_down_yes
{
    margin-top: 318px;
}