.atom-ledge
{
    position: absolute;
    left: 972px;
    background: yellow;
    top: 0;
    bottom: 0;
    border-left: 2px solid #000;
    z-index: 30;
    cursor: pointer;
}

.atom-ledge_open_yes
{
    cursor: auto;
}