.image-theme-yellow__notebook
{
    background: url(image-theme-yellow__notebook.png) no-repeat;
    width: 620px;
    height: 244px;
}

.image-theme-yellow__notebook_push_down_yes
{
    margin-top: 262px;
}