.select-grig
{
    display: inline-block;
    overflow: hidden;
    margin-top: 79px;
    margin-left: 18px;
    width: 138px;
    height: 139px;
    background: url("/image/sprite2.png") no-repeat -1187px -2px;
    cursor: pointer;
}
