.grig-used-services
{

}

.grig-used-services .us-step1
{
    height: 723px;
}

.grig-used-services .us-step2
{
    height: 684px;
}

.grig-used-services .us-step3
{
    height: 735px;
}

.grig-used-services .us-step4
{
    height: 731px;
}
