.services-toggle
{
    position: fixed;
    top: 36px;
    right: 36px;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    width: 67px;
    height: 67px;
    background: url('/image/sprite2.png') no-repeat -1858px -142px;
}

.services-toggle:hover
{
    background-position: -1789px -142px
}
