.sidebar
{
    position: absolute;
    top: 0;
    right: 0;
    left: 970px;

    min-width: 850px;
    height: 100%;

    border-left: solid 2px #000;
    background: #fff;
}

.sidebar:before
{
    position: absolute;
    left: -18px;

    display: block;

    width: 16px;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, 0.2);
}

.sidebar_fixed_no.sidebar_show_no
{
    cursor: pointer;
}

.sidebar_show_yes
{
    cursor: default;
}

.sidebar-toggle-button_show_no
{
    display: none;
}

.sidebar__intro,
.sidebar__presentation,
.sidebar__story > div
{
    padding: 20px 50px;

    border-bottom: solid 2px;
}

.sidebar__testing
{
    padding: 20px 50px;
}

.sidebar__intro
{
    height: 460px;
}

.sidebar__presentation
{
    height: 875px;
}

.sidebar__presentation iframe
{
    border: 0;
}

.sidebar__block-1
{
    height: 740px;
}

.sidebar__block-2
{
    height: 750px;
}

.sidebar__block-3
{
    height: 760px;
}

.sidebar__block-4
{
    height: 770px;
}