.image-theme-red__drink-wine
{
    background: url(image-theme-red__drink-wine.png) no-repeat;
    width: 475px;
    height: 409px;
}
/*

.image-theme-red__drink-wine_push_up_yes
{
    margin-top: -124px;
}

.image-theme-red__drink-wine_push_left_yes
{
    margin-left: -75px;
}*/
