.image-theme-red__drink-wine
{
    background: url(image-theme-red__drink-wine.png) no-repeat;
    width: 162px;
    height: 397px;
}

.image-theme-red__drink-wine_push_right_yes
{
    margin-left: 36px;
}