.image_theme_yellow__carton
{
    background: url(image_theme_yellow__carton.png) no-repeat;
    width: 454px;
    height: 132px;
}

.image_theme_yellow__carton_push_down_yes
{
    margin-top: 322px;
}