.step-icon_theme_yellow.step-icon_step_1.step-icon_active_yes
{
    background-position: 0 0;
}

.step-icon_theme_yellow.step-icon_step_2.step-icon_active_yes
{
    background-position: 0 -110px;
}

.step-icon_theme_yellow.step-icon_step_3.step-icon_active_yes
{
    background-position: 0 -220px;
}

.step-icon_theme_yellow.step-icon_step_4.step-icon_active_yes
{
    background-position: 0 -330px;
}


.step-icon_theme_yellow.step-icon_step_1.step-icon_active_no
{
    background-position: -110px 0;
}

.step-icon_theme_yellow.step-icon_step_2.step-icon_active_no
{
    background-position: -110px -110px;
}

.step-icon_theme_yellow.step-icon_step_3.step-icon_active_no
{
    background-position: -110px -220px;
}

.step-icon_theme_yellow.step-icon_step_4.step-icon_active_no
{
    background-position: -110px -330px;
}