.grig-history-bg__bg-4
{
    position: relative;
    top: -100px;
    display: inline-block;
    overflow: hidden;
    margin-left: -38px;
    width: 972px;
    height: 1143px;
    background: url('/image/b2.png') 0 0 no-repeat;
}

.grig-history-bg__bg-4:before
{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 972px;
    height: 1143px;
    background: url('/image/b1.png') 0 0 no-repeat;
    content: '';
}
