.b-first-block
{
    position: relative;
    z-index: 1;
}

.b-first-block__header
{
    height: 575px;
    text-align: center;
}

.b-first-block__description
{
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    background: #fff;
}

.b-logo
{
    display: inline-block;
    background: url("../img/logo.png") no-repeat;
    width: 138px;
    height: 92px;
    margin: -2px auto 275px;
}

.b-title-page
{
    font: 48px/48px Arial, sans-serif;
}

.b-text-information
{
    float: left;
    width: 450px;
    margin: 80px 96px;
}



.b-icontop-textbottom__play-video
{
    display: block;
    background: url("../img/play-video.png") center no-repeat;
    width: 134px;
    height: 80px;
    margin: 0 0 10px;
    border-radius: 5px;
    border: 2px solid #000;
}

.b-container_blue .b-icontop-textbottom__play-video
{
    background-color: #72c4f6;
}

.b-container_red .b-icontop-textbottom__play-video
{
    background-color: #ff8282;
}

.b-container_yellow .b-icontop-textbottom__play-video
{
    background-color: #ffe05d;
}


.b-first-block__person
{
    height: 420px;
    position: relative;
}

.b-person
{
    width: 612px;
    margin: 80px auto 0;
}

.b-person_mb80
{
    margin-bottom: 80px;
}

.b-person__item
{
    width: 140px;
    float: left;
    margin: 0 96px 0 0;
    text-align: center;
    position: relative;
}

.b-person__item_mr0
{
    margin-right: 0;
}

.b-person-avatar_alex_small,
.b-person-avatar_georgiy_small,
.b-person-avatar_max_small
{
    background-image: url("../img/avatars-small.png");
    background-repeat: no-repeat;
    height: 138px;
    cursor: pointer;
    margin: 0 0 10px;
}

.b-person-avatar_max_small.active,
.b-person-avatar_alex_small.active,
.b-person-avatar_georgiy_small.active
{
    background: url("../img/avatars-big.png") no-repeat 0 0;
    width: 174px;
    height: 175px;
    margin-top: -25px;
    margin-left: -15px;
}

.b-person-avatar_alex_small
 {
     background-position: 0 -149px;
 }

.b-person-avatar_georgiy_small
{
    background-position: 0 -298px;
}

.b-person-avatar_max_small
{
    background-position: 0 0;
}

.b-person-avatar_alex_small.active
{
    background-position: 0 0;
}

.b-person-avatar_alex_small.active
{
   background-position: 0 -184px;
}

.b-person-avatar_georgiy_small.active
{
    background-position: 0 -368px;
}

.b-person-description
{
    width: 762px;
    margin: 30px auto 0;
    position: relative;
}

.b-person-description__item{
    position: absolute;
    width: 294px;
    text-align: center;
    display: none;
}

.b-person-description__item_middle
{
    left: 234px;
}

.b-person-description__item_right
{
    right: 0;
}

































