.path_theme_yellow.path_type_1
{
    background: url(path_type_1.png) no-repeat;
    height: 87px;
    top: -44px;
}

.path_theme_yellow.path_type_2
{
    background: url(path_type_2.png) no-repeat;
    width: 684px;
    height: 565px;
    margin-top: 278px;
}

.path_theme_yellow.path_type_3
{
    background: url(path_type_3.png) no-repeat;
    width: 687px;
    height: 565px;
    top: 198px;
}

.path_theme_yellow.path_type_4
{
    background: url(path_type_4.png) no-repeat;
    width: 626px;
    height: 565px;
    margin-top: 198px;
}

.path-5
{
    background: url(path_type_5.png) no-repeat;
    margin-top: 198px;
}