.header-info__video-image
{
    background: url(header-info__video-image.png);
    width: 138px;
    height: 80px;
    margin: 0 0 16px;
}

.atom_theme_yellow .header-info__video-image
{
    background-color: #ffe05d;
}

.atom_theme_red .header-info__video-image
{
    background-color: #ff8282;
}

.atom_theme_blue .header-info__video-image
{
    background-color: #72c4f6;
}