.header-start__video-image
{
    background: url(header-start__video-image.png);
    width: 138px;
    height: 80px;
    margin: 0 0 16px;
}

.header-atom__content_color_yellow
{
    background-color: #ffe05d;
}

.header-start__video-image_color_red
{
    background-color: #ff8282;
}

.header-start__video-image_color_blue
{
    background-color: #72c4f6;
}