.image_theme_yellow__camera
{
    background: url(image_theme_yellow__camera.png) no-repeat;
    width: 228px;
    height: 164px;
}

.image_theme_yellow__camera_push_down_yes
{
    margin-top: 567px;
}