.story
{
    height: 3270px;
}

.story_color_yellow
{
    background: url(story-yellow-path.png) no-repeat 50% 0;
}

.story_color_red
{
    background: url(story-red-path.png) no-repeat 50% 0;
}

.story_color_blue
{
    background: url(story-blue-path.png) no-repeat 50% 0;
}

.story-yellow
{
    position: absolute;

    display: none;

    width: 1610px;
    height: 3300px;

    background: url(story-yellow-images.png) no-repeat 0 0;
}

.story-yellow > div
{
    position: absolute;

    text-align: center;
}

.story-yellow__text-1
{
    top: 100px;
    left: 370px;

    width: 300px;
}

.story-yellow__text-2
{
    top: 900px;
    left: 840px;

    width: 320px;
}

.story-yellow__text-3
{
    top: 1720px;
    left: 370px;

    width: 270px;
}

.story-yellow__text-4
{
    top: 2475px;
    left: 840px;

    width: 320px;
}

.story-red
{
    position: absolute;

    display: none;

    width: 1610px;
    height: 3300px;

    background: url(story-red-images.png) no-repeat 0 110px;
}

.story-red > div
{
    position: absolute;

    text-align: center;
}

.story-red__text-1
{
    top: 100px;
    left: 370px;

    width: 300px;
}

.story-red__text-2
{
    top: 900px;
    left: 840px;

    width: 320px;
}

.story-red__text-3
{
    top: 1680px;
    left: 340px;

    width: 340px;
}

.story-red__text-4
{
    top: 2510px;
    left: 840px;

    width: 300px;
}

.story-blue
{
    position: absolute;

    display: none;

    width: 1610px;
    height: 3300px;

    background: url(story-blue-images.png) no-repeat 0 110px;
}

.story-blue > div
{
    position: absolute;

    text-align: center;
}

.story-blue__text-1
{
    top: 85px;
    left: 360px;

    width: 310px;
}

.story-blue__text-2
{
    top: 900px;
    left: 830px;

    width: 300px;
}

.story-blue__text-3
{
    top: 1715px;
    left: 395px;

    width: 240px;
}

.story-blue__text-4
{
    top: 2505px;
    left: 860px;

    width: 280px;
}