.story
{
	position: absolute;
	top: 18px;
	left: 18px;
	width: 950px;
	border: 2px solid #000;
}

.story_color_red
{
	background-color: #ff8282;
}

.story_color_yellow
{
	background-color: #ffe05d;
} 

.story_color_blue
{
	background-color: #72cff6;
}
