
.max-history-bg__bg-5
{
    position: relative;
    top: 133px;
    display: inline-block;
    overflow: hidden;
    width: 858px;
    height: 756px;
    background: url('/image/y2.png') 0 -2170px no-repeat;
}

.max-history-bg__bg-5:before
{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 858px;
    height: 756px;
    background: url('/image/y1.png') 0 -2170px no-repeat;
    content: '';
}
