.image_red_portret
{
    bottom: 213px;
}

.image_red_bear
{
    top: 292px;
    left: -60px;
}

.image_red_book
{
    top: 156px;
}

.image_red_tour
{
    top: 89px;
}

.image_red_pasports
{
    top: 486px;
}

.image_red_bill
{
    bottom: 109px;
}

.image_red_lenses
{
    bottom: 133px;
}

.image_red_glasses
{
    top: 58px;
}

.image_red_iphone
{
    top: 373px;
}

.image_red_tamagotchi
{
    top: 675px;
    left: -60px;
}

.image_red_lisence
{
    bottom: 269px;
}

.image_red_keys
{
    bottom: 228px;
}

.image_red_bags
{
    top: 306px;
    left: -138px;
}

.image_red_imac
{
    top: 100px;
}

.image_red_cup
{
    top: 512px;
    left: 36px;
}

.image_red_food-1
{
    top: 338px;
    left: -254px;
}

.image_red_food-2
{
    top: 340px;
}

.image_red_food-3
{
    top: 340px;
}

.image_red_drinks-1
{
    bottom: 37px;
    left: -7px;
}

.image_red_drinks-2-1
{
    bottom: 50px;
}

.image_red_drinks-3
{
    bottom: 16px;
    left: 36px;
}

.image_red_drinks-2-2
{
    bottom: 50px;
}

.image_red_path-1
{
    bottom: 44px;
}

.image_red_path-2
{
    top: 59px;
    left: -20px;
}

.image_red_path-3
{
    top: 69px;
}

.image_red_path-4
{
    top: 70px;
}

.image_red_path-5
{
    top: 52px;
}
