.person__image
{
    width: 217px;
    height: 217px;
    margin: -100px auto 0;

    background-repeat: no-repeat;
    background-position: 50%;

    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}

.person__image:hover
{
    opacity: .5;

    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}

.person_color_yellow .person__image
{
    background-image: url(yellow.png);
}

.person_color_red .person__image
{
    background-image: url(red.png);
}

.person_color_blue .person__image
{
    background-image: url(blue.png);
}
