.data
{
	position: absolute;
	left: 970px;
	width: 100%;
	border-left: 2px solid #000;
	background-color: #fff;
}

.data:before
{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -18px;
	width: 18px;
	background-color: rgba(0,0,0,.1);
}

.data_opened
{
	left: 470px;
}

