.select-max
{
    display: inline-block;
    overflow: hidden;
    margin-top: 80px;
    margin-left: 18px;
    width: 138px;
    height: 138px;
    background: url("/image/sprite2.png") no-repeat -1467px -2px;
    cursor: pointer;
}
