.image_theme_red__drink-milk
{
    background: url(image_theme_red__drink-milk.png) no-repeat;
    width: 103px;
    height: 256px;
}

.image_theme_red__drink-milk_push_down_yes
{
    margin-top: 212px;
}