.image-theme-red__tamagotchi
{
    background: url(image-theme-red__tamagotchi.png) no-repeat;
    width: 149px;
    height: 237px;
}

.image-theme-red__tamagotchi_push_down_yes
{
    margin-top: 378px;
}

.image-theme-red__tamagotchi_push_left_yes
{
    margin-left: -79px;
}