/* Sprites */
/* Anygrid */
/*grid-restore,
.grid-initial
{
    position: relative;
}

.grid-restore .b-grid-cols_12
{
    padding-right: 0;
    margin-right: -400%;
}

.grid-restore .grid-initial
{
    margin-right: -1070%;
}

.b-grid-module_span_1 .grid-restore
{
    margin-right: -42.86%;
}

.b-grid-module_col_1 .grid-restore .b-grid-cols_12,
.b-grid-module_col_1 .grid-restore .grid-initial
{
    left: 0%;
}

.b-grid-module_span_2 .grid-restore
{
    margin-right: 41.18%;
}

.b-grid-module_col_2 .grid-restore .b-grid-cols_12,
.b-grid-module_col_2 .grid-restore .grid-initial
{
    left: -100%;
}

.b-grid-module_span_3 .grid-restore
{
    margin-right: 62.96%;
}

.b-grid-module_col_3 .grid-restore .b-grid-cols_12,
.b-grid-module_col_3 .grid-restore .grid-initial
{
    left: -200%;
}

.b-grid-module_span_4 .grid-restore
{
    margin-right: 72.97%;
}

.b-grid-module_col_4 .grid-restore .b-grid-cols_12,
.b-grid-module_col_4 .grid-restore .grid-initial
{
    left: -300%;
}

.b-grid-module_span_5 .grid-restore
{
    margin-right: 78.72%;
}

.b-grid-module_col_5 .grid-restore .b-grid-cols_12,
.b-grid-module_col_5 .grid-restore .grid-initial
{
    left: -400%;
}

.b-grid-module_span_6 .grid-restore
{
    margin-right: 82.46%;
}

.b-grid-module_col_6 .grid-restore .b-grid-cols_12,
.b-grid-module_col_6 .grid-restore .grid-initial
{
    left: -500%;
}

.b-grid-module_span_7 .grid-restore
{
    margin-right: 85.07%;
}

.b-grid-module_col_7 .grid-restore .b-grid-cols_12,
.b-grid-module_col_7 .grid-restore .grid-initial
{
    left: -600%;
}

.b-grid-module_span_8 .grid-restore
{
    margin-right: 87.01%;
}

.b-grid-module_col_8 .grid-restore .b-grid-cols_12,
.b-grid-module_col_8 .grid-restore .grid-initial
{
    left: -700%;
}

.b-grid-module_span_9 .grid-restore
{
    margin-right: 88.51%;
}

.b-grid-module_col_9 .grid-restore .b-grid-cols_12,
.b-grid-module_col_9 .grid-restore .grid-initial
{
    left: -800%;
}

.b-grid-module_span_10 .grid-restore
{
    margin-right: 89.69%;
}

.b-grid-module_col_10 .grid-restore .b-grid-cols_12,
.b-grid-module_col_10 .grid-restore .grid-initial
{
    left: -900%;
}

.b-grid-module_span_11 .grid-restore
{
    margin-right: 90.65%;
}

.b-grid-module_col_11 .grid-restore .b-grid-cols_12,
.b-grid-module_col_11 .grid-restore .grid-initial
{
    left: -1000%;
}

.b-grid-module_span_12 .grid-restore
{
    margin-right: 91.45%;
}

.b-grid-module_col_12 .grid-restore .b-grid-cols_12,
.b-grid-module_col_12 .grid-restore .grid-initial
{
    left: -1100%;
}*/
/* line 8, ../sass/base.scss */
html,
button,
input,
select,
textarea {
  color: #000;
}

/* line 13, ../sass/base.scss */
html {
  height: 100%;
  min-height: 100%;
}

/* line 19, ../sass/base.scss */
body {
  position: relative;
  min-height: 100%;
  font: 16px/1.5 "Arial", "Helvetica", sans-serif;
  color: #000;
  padding: 16px 0 16px 16px;
}

/* line 28, ../sass/base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 38, ../sass/base.scss */
img {
  vertical-align: middle;
}

/* line 43, ../sass/base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 50, ../sass/base.scss */
textarea {
  resize: vertical;
}

/* line 55, ../sass/base.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 63, ../sass/base.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 69, ../sass/base.scss */
a:hover {
  color: red;
  text-decoration: none;
}

/* line 75, ../sass/base.scss */
.i-text-hidden {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 84, ../sass/base.scss */
.i-text-hidden:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 92, ../sass/base.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 98, ../sass/base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 111, ../sass/base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 121, ../sass/base.scss */
.i-invisible {
  visibility: hidden;
}

/* line 126, ../sass/base.scss */
.i-visible {
  visibility: visible;
}

/* Clearfix: contain floats */
/* line 133, ../sass/base.scss */
.i-clearfix:before,
.i-clearfix:after {
  content: " ";
  display: table;
}

/* line 139, ../sass/base.scss */
.i-clearfix:after {
  clear: both;
}

/* line 144, ../sass/base.scss */
.i-clearfix {
  *zoom: 1;
}

/* Content */
/* line 150, ../sass/base.scss */
p {
  font: 16px/1.5 "Arial";
}
/* line 154, ../sass/base.scss */
p + p {
  margin-top: 20px;
}

/* line 160, ../sass/base.scss */
ul {
  list-style-type: none;
}
/* line 164, ../sass/base.scss */
ul > li:before {
  content: "\2014";
  display: block;
  position: absolute;
  margin: 0 0 0 -25px;
}

/* line 173, ../sass/base.scss */
.b-link_underline {
  color: #0d44a0;
  text-decoration: underline;
}
/* line 178, ../sass/base.scss */
.b-link_underline:hover {
  text-decoration: underline;
}
