/* Sprites */
/* Anygrid */
/*grid-restore,
.grid-initial
{
    position: relative;
}

.grid-restore .b-grid-cols_12
{
    padding-right: 0;
    margin-right: -400%;
}

.grid-restore .grid-initial
{
    margin-right: -1070%;
}

.b-grid-module_span_1 .grid-restore
{
    margin-right: -42.86%;
}

.b-grid-module_col_1 .grid-restore .b-grid-cols_12,
.b-grid-module_col_1 .grid-restore .grid-initial
{
    left: 0%;
}

.b-grid-module_span_2 .grid-restore
{
    margin-right: 41.18%;
}

.b-grid-module_col_2 .grid-restore .b-grid-cols_12,
.b-grid-module_col_2 .grid-restore .grid-initial
{
    left: -100%;
}

.b-grid-module_span_3 .grid-restore
{
    margin-right: 62.96%;
}

.b-grid-module_col_3 .grid-restore .b-grid-cols_12,
.b-grid-module_col_3 .grid-restore .grid-initial
{
    left: -200%;
}

.b-grid-module_span_4 .grid-restore
{
    margin-right: 72.97%;
}

.b-grid-module_col_4 .grid-restore .b-grid-cols_12,
.b-grid-module_col_4 .grid-restore .grid-initial
{
    left: -300%;
}

.b-grid-module_span_5 .grid-restore
{
    margin-right: 78.72%;
}

.b-grid-module_col_5 .grid-restore .b-grid-cols_12,
.b-grid-module_col_5 .grid-restore .grid-initial
{
    left: -400%;
}

.b-grid-module_span_6 .grid-restore
{
    margin-right: 82.46%;
}

.b-grid-module_col_6 .grid-restore .b-grid-cols_12,
.b-grid-module_col_6 .grid-restore .grid-initial
{
    left: -500%;
}

.b-grid-module_span_7 .grid-restore
{
    margin-right: 85.07%;
}

.b-grid-module_col_7 .grid-restore .b-grid-cols_12,
.b-grid-module_col_7 .grid-restore .grid-initial
{
    left: -600%;
}

.b-grid-module_span_8 .grid-restore
{
    margin-right: 87.01%;
}

.b-grid-module_col_8 .grid-restore .b-grid-cols_12,
.b-grid-module_col_8 .grid-restore .grid-initial
{
    left: -700%;
}

.b-grid-module_span_9 .grid-restore
{
    margin-right: 88.51%;
}

.b-grid-module_col_9 .grid-restore .b-grid-cols_12,
.b-grid-module_col_9 .grid-restore .grid-initial
{
    left: -800%;
}

.b-grid-module_span_10 .grid-restore
{
    margin-right: 89.69%;
}

.b-grid-module_col_10 .grid-restore .b-grid-cols_12,
.b-grid-module_col_10 .grid-restore .grid-initial
{
    left: -900%;
}

.b-grid-module_span_11 .grid-restore
{
    margin-right: 90.65%;
}

.b-grid-module_col_11 .grid-restore .b-grid-cols_12,
.b-grid-module_col_11 .grid-restore .grid-initial
{
    left: -1000%;
}

.b-grid-module_span_12 .grid-restore
{
    margin-right: 91.45%;
}

.b-grid-module_col_12 .grid-restore .b-grid-cols_12,
.b-grid-module_col_12 .grid-restore .grid-initial
{
    left: -1100%;
}*/
/* Wrappers */
/* line 5, ../sass/main.scss */
.l-wrapper {
  width: 954px;
  position: relative;
  border: 2px solid #000;
  border-top-width: 0;
  border-bottom-width: 0;
  position: relative;
  background-color: #fff;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/* line 17, ../sass/main.scss */
.l-wrapper_sidebar {
  border: none;
  margin: 0 0 0 35px;
}

/* line 23, ../sass/main.scss */
.l-wrapper-base {
  width: 100%;
  min-width: 972px;
  position: relative;
}

/* line 32, ../sass/main.scss */
.l-wrapper-base_first > .l-sidebar {
  top: -18px;
  padding: 18px 0 0;
}
/* line 38, ../sass/main.scss */
.l-wrapper-base_first > .l-wrapper {
  border-top-width: 2px;
}

/* line 46, ../sass/main.scss */
.l-wrapper-base_last > .l-sidebar {
  bottom: -18px;
  padding: 0 0 18px;
  border-bottom: none;
}
/* line 52, ../sass/main.scss */
.l-wrapper-base_last > .l-sidebar:before {
  bottom: 0;
}

/* line 59, ../sass/main.scss */
.b-theme-toggle {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 138px;
}

/* line 70, ../sass/main.scss */
.b-form-radio_theme-toggle {
  display: none;
}

/* Header */
/* line 76, ../sass/main.scss */
.b-header {
  height: 588px;
  background: url("../img/b-header.png") 10% 0 no-repeat;
}

/* line 82, ../sass/main.scss */
.l-logo {
  overflow: hidden;
  display: block;
  width: 138px;
  height: 92px;
  background: url('../../img/spritegen/sprites-s27797367d2.png') 0 -400px no-repeat;
  margin: -2px 0 0;
}

/* line 92, ../sass/main.scss */
.b-logo {
  display: block;
  width: 78px;
  height: 30px;
  background: url('../../img/spritegen/sprites-s27797367d2.png') 0 -303px no-repeat;
  margin: 18px auto 0;
}

/* line 101, ../sass/main.scss */
.b-slogan {
  font: 48px/1 "Textbook";
  text-align: center;
  margin: 350px 0 57px;
}

/* Top description */
/* line 109, ../sass/main.scss */
.b-description {
  padding: 80px 0;
  background: #fff;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* line 117, ../sass/main.scss */
.b-description-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 37px 0 0;
}

/* line 128, ../sass/main.scss */
.b-description-video-icon {
  border: 2px solid #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 0 0 3px;
  display: block;
  width: 138px;
  height: 76px;
  text-align: center;
}

/* line 140, ../sass/main.scss */
.b-description-video-caption {
  display: block;
  margin: 6px 0 0;
}

/* Persons block */
/* line 147, ../sass/main.scss */
.b-persons {
  padding: 80px 0 77px 0;
}

/* line 152, ../sass/main.scss */
.b-persons_footer {
  margin-top: 110px;
}

/* line 163, ../sass/main.scss */
.b-persons .b-persons-item:hover + .l-person-description {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 167, ../sass/main.scss */
.b-persons .b-persons-item:hover + .l-person-description + .l-person-description {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 171, ../sass/main.scss */
.b-persons .b-persons-item:hover + .l-person-description + .l-person-description + .l-person-description {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 180, ../sass/main.scss */
.b-persons .b-persons-item:hover + .b-persons-item + .l-person-description {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 184, ../sass/main.scss */
.b-persons .b-persons-item:hover + .b-persons-item + .l-person-description + .l-person-description {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 188, ../sass/main.scss */
.b-persons .b-persons-item:hover + .b-persons-item + .l-person-description + .l-person-description + .l-person-description {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 200, ../sass/main.scss */
.b-persons .b-persons-item:hover + .b-persons-item + .b-persons-item + .l-person-description {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 204, ../sass/main.scss */
.b-persons .b-persons-item:hover + .b-persons-item + .b-persons-item + .l-person-description + .l-person-description {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 208, ../sass/main.scss */
.b-persons .b-persons-item:hover + .b-persons-item + .b-persons-item + .l-person-description + .l-person-description + .l-person-description {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 220, ../sass/main.scss */
.b-persons-item-caption {
  margin: 8px 0 0 -5%;
  width: 110%;
  font-weight: bold;
  display: block;
  text-align: center;
}

/* line 229, ../sass/main.scss */
.l-person-description {
  margin-top: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* line 236, ../sass/main.scss */
.b-person-description {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}

/* Persons icon */
/* line 245, ../sass/main.scss */
.b-person-yellow-icon {
  display: block;
  width: 138px;
  height: 138px;
  background: url('../../img/spritegen/yellow/icons-sf511e8b75c.png') 0 -391px no-repeat;
}

/* line 253, ../sass/main.scss */
.b-person-yellow-icon_active {
  display: block;
  width: 174px;
  height: 174px;
  margin: -18px 0 0 -18px;
  background: url('../../img/spritegen/yellow/icons-sf511e8b75c.png') 0 -217px no-repeat;
}

/* line 262, ../sass/main.scss */
.b-person-yellow-icon_popup {
  display: block;
  width: 217px;
  height: 217px;
  background: url('../../img/spritegen/yellow/icons-sf511e8b75c.png') 0 0 no-repeat;
}

/* line 270, ../sass/main.scss */
.b-person-blue-icon {
  display: block;
  width: 138px;
  height: 138px;
  background: url('../../img/spritegen/blue/icons-s2007a5a5f3.png') 0 -391px no-repeat;
}

/* line 278, ../sass/main.scss */
.b-person-blue-icon_active {
  display: block;
  width: 174px;
  height: 174px;
  background: url('../../img/spritegen/blue/icons-s2007a5a5f3.png') 0 -217px no-repeat;
}

/* line 286, ../sass/main.scss */
.b-person-blue-icon_popup {
  display: block;
  width: 217px;
  height: 217px;
  background: url('../../img/spritegen/blue/icons-s2007a5a5f3.png') 0 0 no-repeat;
}

/* line 294, ../sass/main.scss */
.b-person-red-icon {
  display: block;
  width: 138px;
  height: 138px;
  background: url('../../img/spritegen/red/icons-s785baabb6e.png') 0 -391px no-repeat;
}

/* line 302, ../sass/main.scss */
.b-person-red-icon_active {
  display: block;
  width: 174px;
  height: 174px;
  background: url('../../img/spritegen/red/icons-s785baabb6e.png') 0 0 no-repeat;
}

/* line 310, ../sass/main.scss */
.b-person-red-icon_popup {
  display: block;
  width: 217px;
  height: 217px;
  background: url('../../img/spritegen/red/icons-s785baabb6e.png') 0 -174px no-repeat;
}

/* Story */
/* line 319, ../sass/main.scss */
.b-story {
  left: -240%;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

/* line 325, ../sass/main.scss */
.b-story-stage {
  position: relative;
}

/* line 330, ../sass/main.scss */
.b-story-path {
  display: block;
  position: absolute;
  z-index: 1;
}

/* line 337, ../sass/main.scss */
.b-story-thing {
  display: block;
  position: absolute;
  z-index: 2;
}

/* line 344, ../sass/main.scss */
.b-story-text {
  text-align: center;
}

/* Footer */
/* line 350, ../sass/main.scss */
.b-copyright {
  margin-top: 100px;
}

/* Icons */
/* line 356, ../sass/main.scss */
.b-atom-icon {
  display: block;
  width: 102px;
  height: 102px;
  background: url('../../img/spritegen/sprites-s27797367d2.png') 0 -201px no-repeat;
}

/* line 364, ../sass/main.scss */
.b-icon-play {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 27px;
  height: 36px;
  background: url('../../img/spritegen/sprites-s27797367d2.png') 0 -492px no-repeat;
}

/* Sidebar */
/* line 373, ../sass/main.scss */
.l-sidebar {
  position: absolute;
  left: 956px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 2px solid #000;
  border-top: 0;
  border-right: 0;
  z-index: 10;
}
/* line 386, ../sass/main.scss */
.l-sidebar::before {
  display: block;
  width: 18px;
  content: "";
  position: absolute;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=17);
  opacity: 0.17;
  left: -18px;
  top: 0;
  bottom: -2px;
}

/* line 400, ../sass/main.scss */
.l-sidebar-overflow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

/* line 410, ../sass/main.scss */
.b-sidebar {
  overflow: hidden;
}

/* line 415, ../sass/main.scss */
.b-sidebar-head {
  font: normal 28px/1.3 "Textbook";
}

/* line 422, ../sass/main.scss */
.b-sidebar_yellow,
.b-sidebar_red,
.b-sidebar_blue {
  display: none;
}

/* line 427, ../sass/main.scss */
.b-sidebar-toggle {
  display: block;
  position: fixed;
  width: 67px;
  height: 67px;
  background: url('../../img/spritegen/sprites-s27797367d2.png') 0 -67px no-repeat;
  top: 28px;
  right: 30px;
  z-index: 20;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
/* line 441, ../sass/main.scss */
.b-sidebar-toggle:hover {
  background: url('../../img/spritegen/sprites-s27797367d2.png') 0 0 no-repeat;
}

/* line 447, ../sass/main.scss */
.b-form-checkbox_sidebar-toggle {
  display: none;
}

/* line 454, ../sass/main.scss */
.b-sidebar-status:checked + .b-sidebar-toggle {
  background: url('../../img/spritegen/sprites-s27797367d2.png') 0 -333px no-repeat;
}
/* line 458, ../sass/main.scss */
.b-sidebar-status:checked + .b-sidebar-toggle:hover {
  background: url('../../img/spritegen/sprites-s27797367d2.png') 0 -134px no-repeat;
}
/* line 464, ../sass/main.scss */
.b-sidebar-status:checked ~ .l-wrapper-base > .l-sidebar {
  width: 805px;
  right: 0;
  left: auto;
}
/* line 470, ../sass/main.scss */
.b-sidebar-status:checked ~ .l-wrapper-base > .l-sidebar .b-sidebar-toggle-overlay {
  width: 0;
  height: 0;
}

/* line 478, ../sass/main.scss */
.b-sidebar-toggle-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

@media (min-width: 1795px) {
  /* line 491, ../sass/main.scss */
  .b-sidebar-status:checked ~ .l-wrapper-base > .l-sidebar {
    width: auto;
    right: 0;
    left: 956px;
  }

  /* line 499, ../sass/main.scss */
  .b-sidebar-toggle {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

  /* line 505, ../sass/main.scss */
  .b-sidebar-toggle-overlay {
    width: 0;
    height: 0;
  }
}
/* Popup video */
/* line 513, ../sass/main.scss */
.b-video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

/* line 526, ../sass/main.scss */
.b-video-overlay:after {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

/* line 535, ../sass/main.scss */
.b-video-overlay:target {
  display: block;
}

/* line 540, ../sass/main.scss */
.b-video-close {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* line 549, ../sass/main.scss */
.b-video {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.5);
  line-height: 0;
  overflow: hidden;
  background: #fff;
}

/* line 560, ../sass/main.scss */
.b-video-player {
  padding: 8px;
  border: 2px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #E7E7E8;
}
