.steps__item_num_two
{
    padding: 0 0 565px;
}

.steps_color_yellow .steps__item_num_two
{
    background: no-repeat 95px 100% url(../img/step/yellow-sep2.png);
}

.steps_color_red .steps__item_num_two
{
    background: no-repeat 95px 100% url(../img/step/red-sep2.png);
}

.steps_color_blue .steps__item_num_two
{
    background: no-repeat 85px 100% url(../img/step/blue-sep2.png);
}
