.history-grig
{
    height: 3280px;
    background: url("/image/grig-s2.png");
    position: relative;
    margin-left: -20px;
    display: none;
}

.history-grig:before
{
    height: 3280px;
    background: url("/image/grig-s1.png");
    width: 100%;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;

}
