.history-grig
{
    position: relative;
    display: none;
    margin-left: -20px;
    height: 3280px;
    background: url("/image/grig-s2.png");
}

.history-grig:before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3280px;
    background: url("/image/grig-s1.png");
    content: " ";

}
