.content__history
{
    position: relative;

    width: 952px;
    margin: 18px 0 18px 18px;

    cursor: pointer;

    border-right: 2px solid #000;
    border-left: 2px solid #000;

    -webkit-transition: background-color .5s;
       -moz-transition: background-color .5s;
            transition: background-color .5s;
}

.page_color_yellow .content__history
{
    background: #ffe05d;
}

.page_color_red .content__history
{
    background: #ff8282;
}

.page_color_blue .content__history
{
    background: #72c4f6;
}

.content_aside_closed .content__history,
.content_control_disable .content__history
{
    cursor: auto;
}
