.user__icon
{
    width: 138px;
    height: 138px;
    margin: 0 auto 16px;
}

.user__icon.yellow
{
    background: url(../../story/story/first/users/yellow.png);
}

.user__icon.blue
{
    background: url(../../story/story/first/users/gray.png);
}

.user__icon.red
{
    background: url(../../story/story/first/users/red.png);
}