.user__icon
{
    background: url(user__icon.png);
    width: 138px;
    height: 138px;
    margin: 0 auto 16px;
}

.user__icon_type_yellow
{
}

.user__icon_type_red
{
}

.user__icon_type__blue
{
}

.user__icon_type_mini
{
    width: 140px;
    height: 140px;
    background-position: ;
}

.user__icon_type_middle
{
    width: 180px;
    height: 180px;
}

.user__icon_type_large
{
    width: 220px;
    height: 220px;
}