.history-max
{
    position: relative;
    margin-left: -20px;
    height: 3310px;
    background: url("/image/max-s2.png");
}

.history-max:before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3310px;
    background: url("/image/max-s1.png");
    content: " ";
}
