.image_theme_red__drink-coup-middle
{
    background: url(image_theme_red__drink-coup-middle.png) no-repeat;
    width: 86px;
    height: 180px;
}

.image_theme_red__drink-coup-middle_push_down_yes
{
    margin-top: 266px;
}