.image_yellow_map
{
    top: -36px;
}

.image_yellow_aviaticket
{
    bottom: 213px;
    left: -148px;
}

.image_yellow_compass
{
    bottom: 296px;
}

.image_yellow_book
{
    bottom: 155px;
}

.image_yellow_laptop
{
    top: 90px;
}

.image_yellow_polaroid-1
{
    top: 369px;
    left: -90px;
}

.image_yellow_polaroid-2
{
    top: 536px;
}

.image_yellow_polaroid-3
{
    top: 496px;
}

.image_yellow_iphone
{
    bottom: 176px;
}

.image_yellow_magazine
{
    top: -80px;
    left: 30px;
}

.image_yellow_aeroexpress
{
    bottom: 222px;
    left: -156px;
}

.image_yellow_money
{
    bottom: 309px;
    left: 18px;
}

.image_yellow_ticket
{
    bottom: 152px;
    left: 27px;
}

.image_yellow_traffic
{
    bottom: 20px;
}

.image_yellow_ipod
{
    top: 414px;
}

.image_yellow_backpack
{
    top: 90px;
}

.image_yellow_carton
{
    bottom: 340px;
}

.image_yellow_notebook
{
    bottom: 62px;
}

.image_yellow_bottle
{
    bottom: 27px;
}

.image_yellow_camera
{
    bottom: 62px;
}

.image_yellow_path-1
{
    bottom: 44px;
}

.image_yellow_path-2
{
    top: 68px;
    left: -20px;
}

.image_yellow_path-3
{
    top: 68px;
}

.image_yellow_path-4
{
    top: 69px;
}

.image_yellow_path-5
{
    top: 72px;
}
