/* Sprites */
/* Anygrid */
/*grid-restore,
.grid-initial
{
    position: relative;
}

.grid-restore .b-grid-cols_12
{
    padding-right: 0;
    margin-right: -400%;
}

.grid-restore .grid-initial
{
    margin-right: -1070%;
}

.b-grid-module_span_1 .grid-restore
{
    margin-right: -42.86%;
}

.b-grid-module_col_1 .grid-restore .b-grid-cols_12,
.b-grid-module_col_1 .grid-restore .grid-initial
{
    left: 0%;
}

.b-grid-module_span_2 .grid-restore
{
    margin-right: 41.18%;
}

.b-grid-module_col_2 .grid-restore .b-grid-cols_12,
.b-grid-module_col_2 .grid-restore .grid-initial
{
    left: -100%;
}

.b-grid-module_span_3 .grid-restore
{
    margin-right: 62.96%;
}

.b-grid-module_col_3 .grid-restore .b-grid-cols_12,
.b-grid-module_col_3 .grid-restore .grid-initial
{
    left: -200%;
}

.b-grid-module_span_4 .grid-restore
{
    margin-right: 72.97%;
}

.b-grid-module_col_4 .grid-restore .b-grid-cols_12,
.b-grid-module_col_4 .grid-restore .grid-initial
{
    left: -300%;
}

.b-grid-module_span_5 .grid-restore
{
    margin-right: 78.72%;
}

.b-grid-module_col_5 .grid-restore .b-grid-cols_12,
.b-grid-module_col_5 .grid-restore .grid-initial
{
    left: -400%;
}

.b-grid-module_span_6 .grid-restore
{
    margin-right: 82.46%;
}

.b-grid-module_col_6 .grid-restore .b-grid-cols_12,
.b-grid-module_col_6 .grid-restore .grid-initial
{
    left: -500%;
}

.b-grid-module_span_7 .grid-restore
{
    margin-right: 85.07%;
}

.b-grid-module_col_7 .grid-restore .b-grid-cols_12,
.b-grid-module_col_7 .grid-restore .grid-initial
{
    left: -600%;
}

.b-grid-module_span_8 .grid-restore
{
    margin-right: 87.01%;
}

.b-grid-module_col_8 .grid-restore .b-grid-cols_12,
.b-grid-module_col_8 .grid-restore .grid-initial
{
    left: -700%;
}

.b-grid-module_span_9 .grid-restore
{
    margin-right: 88.51%;
}

.b-grid-module_col_9 .grid-restore .b-grid-cols_12,
.b-grid-module_col_9 .grid-restore .grid-initial
{
    left: -800%;
}

.b-grid-module_span_10 .grid-restore
{
    margin-right: 89.69%;
}

.b-grid-module_col_10 .grid-restore .b-grid-cols_12,
.b-grid-module_col_10 .grid-restore .grid-initial
{
    left: -900%;
}

.b-grid-module_span_11 .grid-restore
{
    margin-right: 90.65%;
}

.b-grid-module_col_11 .grid-restore .b-grid-cols_12,
.b-grid-module_col_11 .grid-restore .grid-initial
{
    left: -1000%;
}

.b-grid-module_span_12 .grid-restore
{
    margin-right: 91.45%;
}

.b-grid-module_col_12 .grid-restore .b-grid-cols_12,
.b-grid-module_col_12 .grid-restore .grid-initial
{
    left: -1100%;
}*/
/* Check blue theme */
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000311}}
.b-blue:checked ~ .l-wrapper-base > .l-wrapper {
  background-color: #72c4f6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000316}}
.b-blue:checked ~ .l-wrapper-base .l-person-description_blue {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000321}}
.b-blue:checked ~ .l-wrapper-base .b-theme-toggle_blue {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000326}}
.b-blue:checked ~ .l-wrapper-base .b-person-blue-icon {
  width: 174px;
  height: 174px;
  margin: -18px 0 0 -18px;
  background: url('../../img/spritegen/blue/icons-s2007a5a5f3.png') 0 -217px no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000334}}
.b-blue:checked ~ .l-wrapper-base .b-sidebar_blue {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000339}}
.b-blue:checked ~ .l-wrapper-base .b-description-video-icon {
  background-color: #72c4f6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000344}}
.b-blue:checked ~ .l-wrapper-base .b-story_yellow {
  left: -240%;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000350}}
.b-blue:checked ~ .l-wrapper-base .b-story_red {
  left: -240%;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000356}}
.b-blue:checked ~ .l-wrapper-base .b-story_blue {
  display: block;
  left: 0;
}

/* Story */
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000373}}
.b-story-blue-stage_1,
.b-story-blue-stage_2,
.b-story-blue-stage_3,
.b-story-blue-stage_4 {
  height: 800px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000378}}
.b-story-blue-stage_1 {
  height: 835px;
}

/* Paths */
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000384}}
.b-story-blue-path-1 {
  top: -44px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000389}}
.b-story-blue-path-2 {
  bottom: -61px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000394}}
.b-story-blue-path-3 {
  bottom: -63px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\0000399}}
.b-story-blue-path-4 {
  bottom: -63px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003104}}
.b-story-blue-path-5 {
  bottom: -45px;
}

/* Things */
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003110}}
.b-story-blue-thing-1 {
  top: 78px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003115}}
.b-story-blue-thing-2 {
  margin: 0 0 0 -18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003125}}
.b-story-blue-thing-4 {
  margin: 113px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003130}}
.b-story-blue-thing-5 {
  margin: 273px 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003135}}
.b-story-blue-thing-6 {
  margin: 232px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003140}}
.b-story-blue-thing-7 {
  margin: 90px 0 0 -18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003145}}
.b-story-blue-thing-8 {
  margin: 220px 0 0 -18px;
  z-index: 3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003151}}
.b-story-blue-thing-9 {
  margin: 90px 0 0 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003161}}
.b-story-blue-thing-11 {
  margin: 95px 0 0 -5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003166}}
.b-story-blue-thing-12 {
  margin: -277px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003171}}
.b-story-blue-thing-13 {
  z-index: 3;
  margin: 94px 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003177}}
.b-story-blue-thing-14 {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003182}}
.b-story-blue-thing-15 {
  margin: -124px 0 0 -18px;
}

/* Texts */
@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003203}}
.b-story-blue-text-1 {
  margin-top: 79px;
  margin-bottom: 95px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003209}}
.b-story-blue-text-2 {
  margin-bottom: 89px;
  margin-top: 90px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003215}}
.b-story-blue-text-3 {
  margin-bottom: 89px;
  margin-top: 90px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/z\:\/home\/shri-exam\/www\/css\/sass\/blue\.scss}line{font-family:\00003221}}
.b-story-blue-text-4 {
  margin-bottom: 62px;
  margin-top: 90px;
}
