.grid__content
{
    position: absolute;
}

.grid__content_offset_1
{
    left: 10.07%;
}

.grid__content_offset_2
{
    left: 18.24%;
}

.grid__content_offset_3
{
    left: 26.42%;
}

.grid__content_offset_4
{
    left: 34.59%;
}

.grid__content_offset_5
{
    left: 42.77%;
}

.grid__content_offset_6
{
    left: 50.94%;
}

.grid__content_offset_7
{
    left: 59.12%;
}

.grid__content_offset_8
{
    left: 67.3%;
}

.grid__content_offset_9
{
    left: 75.47%;
}

.grid__content_offset_10
{
    left: 83.65%;
}

.grid__content_offset_11
{
    left: 91.82%;
}

.grid__content_size_4
{
    width: 30.82%;
}

.grid__content_size_6
{
    width: 47.17%;
}

.grid__content_size_10
{
    width: 79.88%;
}

.grid__content_size_full
{
    width: 100%;
}

.grid__content_orientation_bottom
{
    bottom: 0;
}
