.image_theme_yellow__magazine
{
    background: url(image_theme_yellow__magazine.png) no-repeat;
    width: 306px;
    height: 394px;
}

.image_theme_yellow__magazine_push_up_yes
{
    margin-top: -80px;
}

.image_theme_yellow__magazine_push_right_yes
{
    margin-left: 112px;
}