.video
{
    position: relative;

    width: 100%; /* без этого в ИЕ7 всё расплывается */
    min-height: 120px;
    padding: 80px 0;

    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background: #fff;
}
