.image-theme-blue__paper
{
    background: url(image-theme-blue__paper.png) no-repeat;
    width: 384px;
    height: 621px;
}

.image-theme-blue__paper_push_down_yes
{
    margin-top: 80px;
}

.image-theme-blue__paper_push_left_yes
{
    margin-left: -306px;
}