.aside__button
{
    position: fixed;
    z-index: 20;
    top: 70px;
    right: 20px;

    width: 67px;
    height: 71px;

    cursor: pointer;

    background-image: url(aside__button.png);
}

.aside__button
{
    background-position: 0 0;
}

.aside__button:hover
{
    background-position: 0 -100%;
}

.aside_opened_yes .aside__button
{
    background-position: -100% 0;
}

.aside_opened_yes .aside__button:hover
{
    background-position: -100% -100%;
}
