.image_theme_red__passports
{
    background: url(image_theme_red__passports.png) no-repeat;
    width: 475px;
    height: 409px;
}

.image_theme_red__passports_push_down_yes
{
    margin-top: 486px;
}