.layout
{
    width: 950px;
    margin: 18px;

    -webkit-transition: background .5s;
            transition: background .5s;

    border: solid 2px #000;
    background: url(layout_background.png) no-repeat;
}

.layout_sidebar_show
{
    cursor: pointer;
}

.layout_color_yellow
{
    background-color: #ffe05d;
}

.layout_color_red
{
    background-color: #ff8282;
}

.layout_color_blue
{
    background-color: #72c4f6;
}