.image_theme_yellow__laptop
{
    background: url(image_theme_yellow__laptop.png) no-repeat;
    width: 384px;
    height: 493px;
}

.image_theme_yellow__laptop_push_down_yes
{
    margin-top: 78px;
}