.image_theme_yellow__polaroid
{
    background: url(image_theme_yellow__polaroid.png) no-repeat;
    width: 142px;
    height: 158px;
}

.image_theme_yellow__polaroid_pos_1
{
    margin-top: 360px;
    margin-left: -106px;
}

.image_theme_yellow__polaroid_pos_2
{
    margin-top: 532px;
}

.image_theme_yellow__polaroid_pos_3
{
    margin-top: 498px;
}