
.max-history-bg__bg-2
{
    position: relative;
    top: 75px;
    display: inline-block;
    overflow: hidden;
    margin-left: -38px;
    width: 972px;
    height: 565px;
    background: url('/image/y2.png') 0 -1036px no-repeat;
}

.max-history-bg__bg-2:before
{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 972px;
    height: 565px;
    background: url('/image/y1.png') 0 -1036px no-repeat;
    content: '';
}
