.main-video
{
    position: fixed;
    z-index: 15;
    top: 15%;
    left: 50%;

    display: none;

    width: 650px;
    height: 350px;
    margin-left: -355px;
    padding: 30px;

    border: solid 1px #888;
    background: #fff;
    box-shadow: 0 5px 10px #666;
}

.main-video_show_yes
{
    display: block;
}

.main-video iframe
{
    border: 0;
}