.image-theme-red__imac-keyboard
{
    background: url(image-theme-red__imac-keyboard.png) no-repeat;
    width: 294px;
    height: 111px;
}

.image-theme-red__imac-keyboard_push_down_yes
{
    margin-top: 518px;
}