.image_theme_red__drink-coup-full
{
    background: url(image_theme_red__drink-coup-full.png) no-repeat;
    width: 86px;
    height: 181px;
}

.image_theme_red__drink-coup-full_push_down_yes
{
    margin-top: 266px;
}