.intro
{
    height: 400px;

    border-bottom: solid 2px;
    background: #fff;
}

.intro__text
{
    display: inline-block;

    width: 450px;
    padding: 80px 0 0 100px;
}

.intro__video
{
    display: inline-block;

    margin: 100px;

    vertical-align: top;
}