.image_theme_blue__bag
{
    width: 475px;
    height: 409px;
    background: url(image_theme_blue__bag.png) no-repeat;
}

.image_theme_blue__bag_push_up_yes
{
    margin-top: -124px;
}

.image_theme_blue__bag_push_left_yes
{
    margin-left: -75px;
}