.image_theme_yellow__money
{
    background: url(image_theme_yellow__money.png) no-repeat;
    width: 215px;
    height: 207px;
}

.image_theme_yellow__money_push_down_yes
{
    margin-top: 0;
}

.image_theme_yellow__money_push_right_yes
{
    margin-left: 18px;
}