.user-icon
{
    background: url(user-icon.png) no-repeat;
    margin: 0 auto 18px;
    cursor: pointer;
}

.user-icon_size_mini
{
    width: 140px;
    height: 140px;
}

.user-icon_size_mini.user-icon_theme_yellow
{
    background-position: 0 0;
}

.user-icon_size_mini.user-icon_theme_red
{
    background-position: 0 -230px;
}

.user-icon_size_mini.user-icon_theme_blue
{
    background-position: 0 -460px
}

.user-icon_size_middle.user-icon_theme_yellow
{
    background-position: -150px 0;
}

.user-icon_size_middle.user-icon_theme_red
{
    background-position: -150px -230px;
}

.user-icon_size_middle.user-icon_theme_blue
{
    background-position: -150px -460px;
}

.user-icon_size_large
{
    width: 220px;
    height: 220px;
}

.user-icon_size_large.user-icon_theme_yellow
{
    background-position: -340px 0;
}

.user-icon_size_large.user-icon_theme_red
{
    background-position: -340px -230px;
}

.user-icon_size_large.user-icon_theme_blue
{
    background-position: -340px -460px;
}

.user-icon_push_down_yes
{
    margin-top: 50px;
}