/* ../../desktop.blocks/page/_blocked/page_blocked_yes.css begin */
.page_blocked_yes
{
    position: fixed;

    overflow: hidden;

    width: 100%;
}
/* ../../desktop.blocks/page/_blocked/page_blocked_yes.css end */
/* ../../desktop.blocks/page/page.css begin */
.page
{
    margin: 0;

    font: 400 16px/24px Arial, sans-serif;
}
/* ../../desktop.blocks/page/page.css end */
/* ../../desktop.blocks/person/__image/person__image.css begin */
.person__image
{
    width: 220px;
    height: 220px;
    margin: -100px auto 0;

    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
            transition: opacity .3s;
}

.person__image:hover
{
    opacity: .5;

    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
            transition: opacity .3s;
}

.person_color_yellow .person__image
{
    background: 0 0 url("../../desktop.blocks/person/__image/person__image.png");
}

.person_color_red .person__image
{
    background: -220px 0 url("../../desktop.blocks/person/__image/person__image.png");
}

.person_color_blue .person__image
{
    background: -440px 0 url("../../desktop.blocks/person/__image/person__image.png");
}

/* ../../desktop.blocks/person/__image/person__image.css end */
/* ../../desktop.blocks/person/person.css begin */
.person
{
    position: fixed;
    z-index: 100;
    bottom: -220px;
    left: 18px;

    width: 956px;
    height: 0;
}

/* ../../desktop.blocks/person/person.css end */
/* ../../desktop.blocks/nav/__ico/_color/nav__ico_color_yellow.css begin */
.nav_num_one .nav__ico_color_yellow
{
    background-position: -350px -50px;
}

.nav_num_two .nav__ico_color_yellow
{
    background-position: -350px -150px;
}

.nav_num_three .nav__ico_color_yellow
{
    background-position: -350px -250px;
}

.nav_num_four .nav__ico_color_yellow
{
    background-position: -350px -350px;
}

.page_color_yellow .nav_num_one .nav__ico_color_yellow
{
    background-position: -250px -50px;
}

.page_color_yellow .nav_num_two .nav__ico_color_yellow
{
    background-position: -250px -150px;
}

.page_color_yellow .nav_num_three .nav__ico_color_yellow
{
    background-position: -250px -250px;
}

.page_color_yellow .nav_num_four .nav__ico_color_yellow
{
    background-position: -250px -350px;
}

/* ../../desktop.blocks/nav/__ico/_color/nav__ico_color_yellow.css end */
/* ../../desktop.blocks/nav/__ico/_color/nav__ico_color_red.css begin */
.nav_num_one .nav__ico_color_red
{
    background-position: -150px -50px;
}

.nav_num_two .nav__ico_color_red
{
    background-position: -150px -150px;
}

.nav_num_three .nav__ico_color_red
{
    background-position: -150px -250px;
}

.nav_num_four .nav__ico_color_red
{
    background-position: -150px -350px;
}

.page_color_red .nav_num_one .nav__ico_color_red
{
    background-position: -50px -50px;
}

.page_color_red .nav_num_two .nav__ico_color_red
{
    background-position: -50px -150px;
}

.page_color_red .nav_num_three .nav__ico_color_red
{
    background-position: -50px -250px;
}

.page_color_red .nav_num_four .nav__ico_color_red
{
    background-position: -50px -350px;
}

/* ../../desktop.blocks/nav/__ico/_color/nav__ico_color_red.css end */
/* ../../desktop.blocks/nav/__ico/_color/nav__ico_color_blue.css begin */
.nav_num_one .nav__ico_color_blue
{
    background-position: -550px -50px;
}

.nav_num_two .nav__ico_color_blue
{
    background-position: -550px -150px;
}

.nav_num_three .nav__ico_color_blue
{
    background-position: -550px -250px;
}

.nav_num_four .nav__ico_color_blue
{
    background-position: -550px -350px;
}

.page_color_blue .nav_num_one .nav__ico_color_blue
{
    background-position: -450px -50px;
}

.page_color_blue .nav_num_two .nav__ico_color_blue
{
    background-position: -450px -150px;
}

.page_color_blue .nav_num_three .nav__ico_color_blue
{
    background-position: -450px -250px;
}

.page_color_blue .nav_num_four .nav__ico_color_blue
{
    background-position: -450px -350px;
}

/* ../../desktop.blocks/nav/__ico/_color/nav__ico_color_blue.css end */
/* ../../desktop.blocks/nav/__ico/nav__ico.css begin */
.nav__ico
{
    display: inline-block;

    width: 100px;
    height: 100px;
    margin: 0 20px;

    cursor: pointer;

    background: url("../../desktop.blocks/nav/__ico/nav__ico.png");
}

/* ../../desktop.blocks/nav/__ico/nav__ico.css end */
/* ../../desktop.blocks/nav/nav.css begin */
.nav
{
    position: fixed;
    z-index: 100;
    top: -100px;
    left: 18px;

    width: 956px;
    height: 100px;

    text-align: center;

    font: 0/0 a;
}

/* ../../desktop.blocks/nav/nav.css end */
/* ../../desktop.blocks/popup/popup.css begin */
.popup
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    text-align: center;

    background: rgba(0,0,0, .2);
}

/* ../../desktop.blocks/popup/popup.css end */
/* ../../desktop.blocks/popup/__close/popup__close.css begin */
.popup__close
{
    position: absolute;
    top: 18px;
    right: 18px;

    width: 32px;
    height: 32px;

    cursor: pointer;

    border: 2px solid #000;
    background: #fff no-repeat 50% url("../../desktop.blocks/popup/__close/popup__close.png");
}

.popup__close:hover
{
    background-color: #e5e5e5;
}

/* ../../desktop.blocks/popup/__close/popup__close.css end */
/* ../../desktop.blocks/popup/__content/popup__content.css begin */
.popup__content
{
    min-width: 150px;
    min-height: 100px;

    background: #c0c0c0;
}

/* ../../desktop.blocks/popup/__content/popup__content.css end */
/* ../../desktop.blocks/popup/__inner/popup__inner.css begin */
.popup__inner
{
    position: relative;

    display: inline-block;

    vertical-align: middle;

    background: #c0c0c0;
}

/* ../../desktop.blocks/popup/__inner/popup__inner.css end */
/* ../../desktop.blocks/popup/__shadow/popup__shadow.css begin */
.popup__shadow
{
    position: absolute;
    z-index: -1;
    top: 18px;
    left: 18px;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0, .1);
}

.popup__shadow-tr,
.popup__shadow-bl
{
    position: absolute;

    display: block;

    width: 18px;
    height: 18px;

    background: url("../../desktop.blocks/popup/__shadow/popup__shadow.png");
}

.popup__shadow-tr
{
    top: -18px;
    right: 0;
}

.popup__shadow-bl
{
    bottom: 0;
    left: -18px;

    background-position: 0 -18px;
}

/* ../../desktop.blocks/popup/__shadow/popup__shadow.css end */
/* ../../desktop.blocks/popup/__va-helper/popup__va-helper.css begin */
.popup__va-helper
{
    display: inline-block;

    height: 100%;

    vertical-align: middle;
}

/* ../../desktop.blocks/popup/__va-helper/popup__va-helper.css end */
/* ../../desktop.blocks/popup/__iframe/popup__iframe.css begin */
.popup__iframe
{
    display: block;
}

/* ../../desktop.blocks/popup/__iframe/popup__iframe.css end */
/* ../../desktop.blocks/popup/_showed/popup_showed_yes.css begin */
.popup_showed_yes
{
    display: block;
}

/* ../../desktop.blocks/popup/_showed/popup_showed_yes.css end */
/* ../../desktop.blocks/content/content.css begin */
.content
{
    position: relative;

    overflow: hidden;

    min-width: 990px;
}

/* ../../desktop.blocks/content/content.css end */
/* ../../desktop.blocks/content/__history/content__history.css begin */
.content__history
{
    position: relative;

    width: 952px;
    margin: 18px 0 18px 18px;

    cursor: pointer;

    border-right: 2px solid #000;
    border-left: 2px solid #000;

    -webkit-transition: background-color .5s;
       -moz-transition: background-color .5s;
            transition: background-color .5s;
}

.page_color_yellow .content__history
{
    background: #ffe05d;
}

.page_color_red .content__history
{
    background: #ff8282;
}

.page_color_blue .content__history
{
    background: #72c4f6;
}

.content_aside_closed .content__history,
.content_control_disable .content__history
{
    cursor: auto;
}

/* ../../desktop.blocks/content/__history/content__history.css end */
/* ../../desktop.blocks/content/__cell/_type/content__cell_type_footer.css begin */
.content__cell_type_footer
{
    border-bottom: 2px solid #000;
}

/* ../../desktop.blocks/content/__cell/_type/content__cell_type_footer.css end */
/* ../../desktop.blocks/content/__cell/_type/content__cell_type_header.css begin */
.content__cell_type_header
{
    border-top: 2px solid #000;
}

/* ../../desktop.blocks/content/__cell/_type/content__cell_type_header.css end */
/* ../../desktop.blocks/content/__cell/_type/content__cell_type_history.css begin */
.content__cell_type_history
{
    margin-top: 43px;
}

/* ../../desktop.blocks/content/__cell/_type/content__cell_type_history.css end */
/* ../../desktop.blocks/content/__cell/_border/content__cell_border_bottom.css begin */
.content__cell_border_bottom
{
    border-bottom: 2px solid #000;
}

/* ../../desktop.blocks/content/__cell/_border/content__cell_border_bottom.css end */
/* ../../desktop.blocks/content/__cell/content__cell.css begin */
.content__cell:after
{
    display: table;
    clear: both;

    content: "";
}

/* ../../desktop.blocks/content/__cell/content__cell.css end */
/* ../../desktop.blocks/header/__flag/header__flag.css begin */
.header__flag
{
    width: 138px;
    height: 90px;
    margin: 0 auto;

    font: 0/0 a;

    color: transparent;
    background: url("../../desktop.blocks/header/__flag/header__flag.png");
}

/* ../../desktop.blocks/header/__flag/header__flag.css end */
/* ../../desktop.blocks/header/__atoms/header__atoms.css begin */
.header__atoms
{
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;

    width: 972px;
    height: 570px;

    background: url("../../desktop.blocks/header/__atoms/header__atoms.png");
}

/* ../../desktop.blocks/header/__atoms/header__atoms.css end */
/* ../../desktop.blocks/header/__title/header__title.css begin */
.header__title
{
    position: absolute;
    bottom: 70px;
    left: 0;

    width: 100%;

    text-align: center;

    font-size: 48px;
    font-weight: 400;
    line-height: 1;
}

/* ../../desktop.blocks/header/__title/header__title.css end */
/* ../../desktop.blocks/header/header.css begin */
.header
{
    position: relative;
    z-index: 1;

    height: 590px;
}

/* ../../desktop.blocks/header/header.css end */
/* ../../desktop.blocks/video/__link/video__link.css begin */
.video__link
{
    position: absolute;
    top: 85px;
    left: 70%;

    cursor: pointer;
    text-decoration: none;

    color: #000;
}

/* ../../desktop.blocks/video/__link/video__link.css end */
/* ../../desktop.blocks/video/__link-image/video__link-image.css begin */
.video__link-image
{
    width: 130px;
    height: 75px;
    margin: 0 0 10px;

    border: 2px solid #000;
    border-radius: 3px;
    background: no-repeat 50% url("../../desktop.blocks/video/__link-image/video__link-image.png");

    -webkit-transition: background-color .5s;
       -moz-transition: background-color .5s;
            transition: background-color .5s;
}

.page_color_yellow .video__link-image
{
    background-color: #ffe05d;
}

.page_color_red .video__link-image
{
    background-color: #ff8282;
}

.page_color_blue .video__link-image
{
    background-color: #72c4f6;
}

/* ../../desktop.blocks/video/__link-image/video__link-image.css end */
/* ../../desktop.blocks/video/__text/video__text.css begin */
.video__text
{
    padding: 0 40% 0 10%;
}

/* ../../desktop.blocks/video/__text/video__text.css end */
/* ../../desktop.blocks/video/video.css begin */
.video
{
    position: relative;

    min-height: 120px;
    padding: 80px 0;

    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background: #fff;
}

/* ../../desktop.blocks/video/video.css end */
/* ../../desktop.blocks/persons/__desc/persons__desc.css begin */
.persons__desc
{
    margin: 0 -30px;

    font-size: 16px;
    line-height: 24px;

    opacity: 0;

    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
            transition: opacity .2s;
}

.persons__item_hovered_yes .persons__desc
{
    opacity: 1;
}

/* ../../desktop.blocks/persons/__desc/persons__desc.css end */
/* ../../desktop.blocks/persons/__item/persons__item.css begin */
.persons__item
{
    display: inline-block;

    width: 235px;
    padding: 0 0 72px;

    vertical-align: top;

    font: 16px/1.15 Arial;
}

/* ../../desktop.blocks/persons/__item/persons__item.css end */
/* ../../desktop.blocks/persons/__items/persons__items.css begin */
.persons__items
{
    position: relative;

    margin: 0;
    padding: 0 0 0 20px;

    list-style: none;

    text-align: center;

    font: 0/0 a;
}

/* ../../desktop.blocks/persons/__items/persons__items.css end */
/* ../../desktop.blocks/persons/__link/persons__link.css begin */
.persons__link
{
    display: inline-block;

    cursor: pointer;
}

/* ../../desktop.blocks/persons/__link/persons__link.css end */
/* ../../desktop.blocks/persons/__name/persons__name.css begin */
.persons__name
{
    margin: 0 0 15px;

    font-weight: 700;
}

/* ../../desktop.blocks/persons/__name/persons__name.css end */
/* ../../desktop.blocks/persons/__photo/_color/persons__photo_color_yellow.css begin */
.persons__photo_color_yellow
{
    background-position: 0 50%;
}

.page_color_yellow .persons__photo_color_yellow
{
    width: 175px;
    height: 175px;

    background: 0 0 url("../../desktop.blocks/persons/__photo/_color/persons__photo.png");
}

/* ../../desktop.blocks/persons/__photo/_color/persons__photo_color_yellow.css end */
/* ../../desktop.blocks/persons/__photo/_color/persons__photo_color_red.css begin */
.persons__photo_color_red
{
    background-position: -140px 50%;
}

.page_color_red .persons__photo_color_red
{
    width: 175px;
    height: 175px;

    background: -175px 0 url("../../desktop.blocks/persons/__photo/_color/persons__photo.png");
}

/* ../../desktop.blocks/persons/__photo/_color/persons__photo_color_red.css end */
/* ../../desktop.blocks/persons/__photo/_color/persons__photo_color_blue.css begin */
.persons__photo_color_blue
{
    background-position: -280px 50%;
}

.page_color_blue .persons__photo_color_blue
{
    width: 175px;
    height: 175px;

    background: -350px 0 url("../../desktop.blocks/persons/__photo/_color/persons__photo.png");
}

/* ../../desktop.blocks/persons/__photo/_color/persons__photo_color_blue.css end */
/* ../../desktop.blocks/persons/__photo/persons__photo.css begin */
.persons__photo
{
    display: block;

    width: 140px;
    height: 175px;
    margin: 0 0 10px;

    background-image: url("../../desktop.blocks/persons/__photo/persons__photo.png");
    background-repeat: no-repeat;
}

/* ../../desktop.blocks/persons/__photo/persons__photo.css end */
/* ../../desktop.blocks/persons/__sep/persons__sep.css begin */
.persons__sep
{
    position: absolute;
    bottom: -43px;
    left: 95px;

    width: 762px;
    height: 97px;
}

.page_color_yellow .persons__sep
{
    background: url("../../desktop.blocks/persons/__sep/yellow_sep.png");
}

.page_color_red .persons__sep
{
    background: url("../../desktop.blocks/persons/__sep/red_sep.png");
}

.page_color_blue .persons__sep
{
    background: url("../../desktop.blocks/persons/__sep/blue_sep.png");
}

/* ../../desktop.blocks/persons/__sep/persons__sep.css end */
/* ../../desktop.blocks/persons/persons.css begin */
.persons
{
    position: relative;

    padding: 80px 0 0;
}

/* ../../desktop.blocks/persons/persons.css end */
/* ../../desktop.blocks/persons/_bottom/persons_bottom_yes.css begin */
.persons_bottom_yes
{
    padding-top: 30px;
}

.persons_bottom_yes .persons__sep
{
    display: none;
}

.persons_bottom_yes  .persons__item
{
    padding-bottom: 22px;
}

/* ../../desktop.blocks/persons/_bottom/persons_bottom_yes.css end */
/* ../../desktop.blocks/steps/steps.css begin */
.steps
{
    width: 952px;
}

.page_color_yellow .steps_color_yellow
{
    display: block !important;
}

.page_color_red .steps_color_red
{
    display: block !important;
}

.page_color_blue .steps_color_blue
{
    display: block !important;
}

/* ../../desktop.blocks/steps/steps.css end */
/* ../../desktop.blocks/steps/__item/_num/steps__item_num_one.css begin */
.steps__item_num_one
{
    padding: 0 0 565px;
}

.steps_color_yellow .steps__item_num_one
{
    background: no-repeat 153px 100% url("../../desktop.blocks/steps/__item/_num/yellow/step__item_num_one.png");
}

.steps_color_red .steps__item_num_one
{
    background: no-repeat 231px 100% url("../../desktop.blocks/steps/__item/_num/red/step__item_num_one.png");
}

.steps_color_blue .steps__item_num_one
{
    background: no-repeat 158px 100% url("../../desktop.blocks/steps/__item/_num/blue/step__item_num_one.png");
}

/* ../../desktop.blocks/steps/__item/_num/steps__item_num_one.css end */
/* ../../desktop.blocks/steps/__item/_num/steps__item_num_two.css begin */
.steps__item_num_two
{
    padding: 0 0 565px;
}

.steps_color_yellow .steps__item_num_two
{
    background: no-repeat 95px 100% url("../../desktop.blocks/steps/__item/_num/yellow/step__item_num_two.png");
}

.steps_color_red .steps__item_num_two
{
    background: no-repeat 95px 100% url("../../desktop.blocks/steps/__item/_num/red/step__item_num_two.png");
}

.steps_color_blue .steps__item_num_two
{
    background: no-repeat 85px 100% url("../../desktop.blocks/steps/__item/_num/blue/step__item_num_two.png");
}

/* ../../desktop.blocks/steps/__item/_num/steps__item_num_two.css end */
/* ../../desktop.blocks/steps/__item/_num/steps__item_num_three.css begin */
.steps__item_num_three
{
    padding: 0 0 565px;
}

.steps_color_yellow .steps__item_num_three
{
    background: no-repeat 95px 100% url("../../desktop.blocks/steps/__item/_num/yellow/step__item_num_three.png");
}

.steps_color_red .steps__item_num_three
{
    background: no-repeat 95px 100% url("../../desktop.blocks/steps/__item/_num/red/step__item_num_three.png");
}

.steps_color_blue .steps__item_num_three
{
    background: no-repeat 85px 100% url("../../desktop.blocks/steps/__item/_num/blue/step__item_num_three.png");
}

/* ../../desktop.blocks/steps/__item/_num/steps__item_num_three.css end */
/* ../../desktop.blocks/steps/__item/_num/steps__item_num_four.css begin */
.steps__item_num_four
{
    padding: 0 0 588px;
}

.steps_color_yellow .steps__item_num_four
{
    background: no-repeat 251px 100% url("../../desktop.blocks/steps/__item/_num/yellow/step__item_num_four.png");
}

.steps_color_red .steps__item_num_four
{
    background: no-repeat 251px 100% url("../../desktop.blocks/steps/__item/_num/red/step__item_num_four.png");
}

.steps_color_blue .steps__item_num_four
{
    background: no-repeat 241px 100% url("../../desktop.blocks/steps/__item/_num/blue/step__item_num_four.png");
}

/* ../../desktop.blocks/steps/__item/_num/steps__item_num_four.css end */
/* ../../desktop.blocks/steps/__item/steps__item.css begin */
.steps__item
{
    position: relative;
}

/* ../../desktop.blocks/steps/__item/steps__item.css end */
/* ../../desktop.blocks/steps/__text/_pull/steps__text_pull_right.css begin */
.steps__text_pull_right
{
    margin: 0 95px 0 auto;
}

/* ../../desktop.blocks/steps/__text/_pull/steps__text_pull_right.css end */
/* ../../desktop.blocks/steps/__text/_pull/steps__text_pull_left.css begin */
.steps__text_pull_left
{
    margin: 0 auto 0 95px;
}

/* ../../desktop.blocks/steps/__text/_pull/steps__text_pull_left.css end */
/* ../../desktop.blocks/steps/__text/steps__text.css begin */
.steps__text
{
    width: 290px;
    padding: 30px 0;

    text-align: center;
}

/* ../../desktop.blocks/steps/__text/steps__text.css end */
/* ../../desktop.blocks/thing/thing.css begin */
.thing
{
    position: absolute;
}

/* ../../desktop.blocks/thing/thing.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-map.css begin */
.thing_type_yellow-map
{
    top: -92px;
    left: 485px;

    width: 294px;
    height: 218px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-map.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-map.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-ticket.css begin */
.thing_type_yellow-ticket
{
    bottom: 283px;
    left: -145px;

    width: 620px;
    height: 244px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-ticket.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-ticket.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-compas.css begin */
.thing_type_yellow-compas
{
    bottom: 366px;
    left: 565px;

    width: 150px;
    height: 161px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-compas.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-compas.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-guide.css begin */
.thing_type_yellow-guide
{
    right: -82px;
    bottom: 225px;

    width: 240px;
    height: 302px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-guide.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-guide.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-phone.css begin */
.thing_type_yellow-phone
{
    right: 160px;
    bottom: 240px;

    width: 150px;
    height: 282px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-phone.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-phone.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-photo.css begin */
.thing_type_yellow-photo
{
    bottom: 350px;
    left: -90px;

    width: 142px;
    height: 158px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-photo.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-photo.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-photos.css begin */
.thing_type_yellow-photos
{
    bottom: 175px;
    left: 175px;

    width: 220px;
    height: 198px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-photos.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-photos.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-notebook.css begin */
.thing_type_yellow-notebook
{
    top: 30px;
    left: 95px;

    width: 384px;
    height: 492px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-notebook.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-notebook.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-vogue.css begin */
.thing_type_yellow-vogue
{
    top: -125px;
    right: -100px;

    width: 306px;
    height: 394px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-vogue.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-vogue.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-yet-ticket.css begin */
.thing_type_yellow-yet-ticket
{
    bottom: 205px;
    left: -155px;

    width: 706px;
    height: 324px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-yet-ticket.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-yet-ticket.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-money.css begin */
.thing_type_yellow-money
{
    bottom: 360px;
    left: 425px;

    width: 216px;
    height: 207px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-money.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-money.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-ipod.css begin */
.thing_type_yellow-ipod
{
    right: 15px;
    bottom: 195px;

    width: 298px;
    height: 238px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-ipod.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-ipod.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-traffic.css begin */
.thing_type_yellow-traffic
{
    bottom: 90px;
    left: 175px;

    width: 150px;
    height: 158px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-traffic.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-traffic.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-backpack.css begin */
.thing_type_yellow-backpack
{
    top: 30px;
    left: 95px;

    width: 396px;
    height: 394px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-backpack.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-backpack.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-phuket.css begin */
.thing_type_yellow-phuket
{
    right: -68px;
    bottom: 400px;

    width: 454px;
    height: 132px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-phuket.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-phuket.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-notepad.css begin */
.thing_type_yellow-notepad
{
    bottom: 130px;
    left: 175px;

    width: 150px;
    height: 192px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-notepad.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-notepad.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-bottle.css begin */
.thing_type_yellow-bottle
{
    bottom: 97px;
    left: 405px;

    width: 108px;
    height: 228px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-bottle.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-bottle.css end */
/* ../../desktop.blocks/thing/_type/thing_type_yellow-camera.css begin */
.thing_type_yellow-camera
{
    bottom: 130px;
    left: 565px;

    width: 228px;
    height: 164px;

    background: url("../../desktop.blocks/thing/_type/thing_type_yellow-camera.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_yellow-camera.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-photo.css begin */
.thing_type_red-photo
{
    bottom: 270px;
    left: 95px;

    width: 306px;
    height: 242px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-photo.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-photo.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-papers.css begin */
.thing_type_red-papers
{
    top: 30px;
    right: 85px;

    width: 384px;
    height: 492px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-papers.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-papers.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-passport.css begin */
.thing_type_red-passport
{
    bottom: 180px;
    left: 565px;

    width: 482px;
    height: 226px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-passport.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-passport.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-book.css begin */
.thing_type_red-book
{
    bottom: -100px;
    left: 175px;

    width: 228px;
    height: 300px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-book.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-book.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-bear.css begin */
.thing_type_red-bear
{
    bottom: -235px;
    left: -59px;

    width: 318px;
    height: 386px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-bear.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-bear.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-phone.css begin */
.thing_type_red-phone
{
    bottom: 210px;
    left: 95px;

    width: 150px;
    height: 280px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-phone.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-phone.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-check.css begin */
.thing_type_red-check
{
    bottom: 180px;
    left: 330px;

    width: 220px;
    height: 347px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-check.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-check.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-lenses.css begin */
.thing_type_red-lenses
{
    right: 60px;
    bottom: 205px;

    width: 410px;
    height: 283px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-lenses.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-lenses.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-tamagotchi.css begin */
.thing_type_red-tamagotchi
{
    bottom: -50px;
    left: -65px;

    width: 149px;
    height: 237px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-tamagotchi.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-tamagotchi.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-glasses.css begin */
.thing_type_red-glasses
{
    right: 5px;
    bottom: 5px;

    width: 384px;
    height: 137px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-glasses.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-glasses.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-driver-cert.css begin */
.thing_type_red-driver-cert
{
    bottom: 335px;
    left: 95px;

    width: 298px;
    height: 187px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-driver-cert.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-driver-cert.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-car-keys.css begin */
.thing_type_red-car-keys
{
    bottom: 295px;
    left: 250px;

    width: 222px;
    height: 147px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-car-keys.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-car-keys.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-monitor.css begin */
.thing_type_red-monitor
{
    top: 30px;
    right: -60px;

    width: 450px;
    height: 377px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-monitor.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-monitor.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-bags.css begin */
.thing_type_red-bags
{
    bottom: -240px;
    left: -140px;

    width: 566px;
    height: 521px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-bags.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-bags.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-mug.css begin */
.thing_type_red-mug
{
    bottom: 175px;
    left: 520px;

    width: 138px;
    height: 224px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-mug.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-mug.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-keyboard.css begin */
.thing_type_red-keyboard
{
    right: -60px;
    bottom: 290px;

    width: 294px;
    height: 111px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-keyboard.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-keyboard.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-fish.css begin */
.thing_type_red-fish
{
    bottom: 200px;
    left: -255px;

    width: 384px;
    height: 308px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-fish.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-fish.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-cocktail.css begin */
.thing_type_red-cocktail
{
    bottom: 104px;
    left: 95px;

    width: 103px;
    height: 253px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-cocktail.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-cocktail.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-breakfast.css begin */
.thing_type_red-breakfast
{
    bottom: 190px;
    left: 175px;

    width: 306px;
    height: 310px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-breakfast.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-breakfast.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-glass-one.css begin */
.thing_type_red-glass-one
{
    bottom: 117px;
    left: 485px;

    width: 86px;
    height: 180px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-glass.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-glass-one.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-glass-two.css begin */
.thing_type_red-glass-two
{
    right: 80px;
    bottom: 117px;

    width: 86px;
    height: 180px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-glass.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-glass-two.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-bottle.css begin */
.thing_type_red-bottle
{
    bottom: 85px;
    left: 600px;

    width: 162px;
    height: 397px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-bottle.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-bottle.css end */
/* ../../desktop.blocks/thing/_type/thing_type_red-grapes.css begin */
.thing_type_red-grapes
{
    right: -70px;
    bottom: 280px;

    width: 228px;
    height: 231px;

    background: url("../../desktop.blocks/thing/_type/thing_type_red-grapes.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_red-grapes.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-phone.css begin */
.thing_type_blue-phone
{
    bottom: 140px;
    left: -60px;

    width: 318px;
    height: 384px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-phone.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-phone.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-pen.css begin */
.thing_type_blue-pen
{
    bottom: 290px;
    left: 330px;

    width: 48px;
    height: 233px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-pen.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-pen.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-ticket.css begin */
.thing_type_blue-ticket
{
    right: 90px;
    bottom: 275px;

    width: 454px;
    height: 179px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-ticket.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-ticket.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-frame.css begin */
.thing_type_blue-frame
{
    right: -70px;
    bottom: 20px;

    width: 227px;
    height: 292px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-frame.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-frame.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-notepad.css begin */
.thing_type_blue-notepad
{
    top: 30px;
    right: 160px;

    width: 306px;
    height: 434px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-notepad.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-notepad.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-watch.css begin */
.thing_type_blue-watch
{
    bottom: 20px;
    left: 485px;

    width: 130px;
    height: 247px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-watch.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-watch.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-papers.css begin */
.thing_type_blue-papers
{
    top: 30px;
    left: -280px;

    width: 384px;
    height: 621px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-papers.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-papers.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-notebook.css begin */
.thing_type_blue-notebook
{
    top: 175px;
    left: -60px;

    width: 228px;
    height: 318px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-notebook.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-notebook.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-tablet.css begin */
.thing_type_blue-tablet
{
    top: 30px;
    left: 175px;

    width: 304px;
    height: 453px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-tablet.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-tablet.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-diving-mask.css begin */
.thing_type_blue-diving-mask
{
    right: 0;
    bottom: 140px;

    width: 390px;
    height: 622px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-diving-mask.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-diving-mask.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-mug.css begin */
.thing_type_blue-mug
{
    bottom: 115px;
    left: 330px;

    width: 228px;
    height: 303px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-mug.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-mug.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-lifebuoy.css begin */
.thing_type_blue-lifebuoy
{
    top: -140px;
    right: -370px;

    width: 528px;
    height: 552px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-lifebuoy.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-lifebuoy.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-cell-phone.css begin */
.thing_type_blue-cell-phone
{
    bottom: 250px;
    left: 170px;

    width: 148px;
    height: 278px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-cell-phone.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-cell-phone.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-cards.css begin */
.thing_type_blue-cards
{
    bottom: 290px;
    left: 405px;

    width: 298px;
    height: 233px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-cards.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-cards.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-cash.css begin */
.thing_type_blue-cash
{
    right: 5px;
    bottom: 130px;

    width: 148px;
    height: 244px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-cash.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-cash.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-tie.css begin */
.thing_type_blue-tie
{
    top: 30px;
    right: 88px;

    width: 380px;
    height: 529px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-tie.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-tie.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-briefcase.css begin */
.thing_type_blue-briefcase
{
    top: -195px;
    left: -64px;

    width: 475px;
    height: 409px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-briefcase.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-briefcase.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-newspaper.css begin */
.thing_type_blue-newspaper
{
    bottom: 105px;
    left: 95px;

    width: 318px;
    height: 421px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-newspaper.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-newspaper.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-big-book.css begin */
.thing_type_blue-big-book
{
    bottom: 120px;
    left: 485px;

    width: 306px;
    height: 411px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-big-book.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-big-book.css end */
/* ../../desktop.blocks/thing/_type/thing_type_blue-small-book.css begin */
.thing_type_blue-small-book
{
    right: -135px;
    bottom: 110px;

    width: 234px;
    height: 303px;

    background: url("../../desktop.blocks/thing/_type/thing_type_blue-small-book.png");
}

/* ../../desktop.blocks/thing/_type/thing_type_blue-small-book.css end */
/* ../../desktop.blocks/footer/__copyrights/footer__copyrights.css begin */
.footer__copyrights
{
    display: inline;

    margin: 0 0 0 60px;
}

/* ../../desktop.blocks/footer/__copyrights/footer__copyrights.css end */
/* ../../desktop.blocks/footer/__line/footer__line.css begin */
.footer__line
{
    padding: 0 0 0 10%;
}

/* ../../desktop.blocks/footer/__line/footer__line.css end */
/* ../../desktop.blocks/footer/__menu/footer__menu.css begin */
.footer__menu
{
    display: inline;

    margin: 0;
    padding: 0;

    list-style: none;
}

/* ../../desktop.blocks/footer/__menu/footer__menu.css end */
/* ../../desktop.blocks/footer/__menu-item/footer__menu-item.css begin */
.footer__menu-item
{
    display: inline;

    margin: 0 15px 0 0;
}

/* ../../desktop.blocks/footer/__menu-item/footer__menu-item.css end */
/* ../../desktop.blocks/footer/__menu-link/footer__menu-link.css begin */
.footer__menu-link
{
    display: inline;

    text-decoration: none;

    color: #000;
}

.footer__menu-link:hover
{
    text-decoration: underline;
}

/* ../../desktop.blocks/footer/__menu-link/footer__menu-link.css end */
/* ../../desktop.blocks/footer/__text/footer__text.css begin */
.footer__text
{
    min-height: 102px;
    padding: 0 40% 135px 10%;

    line-height: 24px;

    background: no-repeat 75% 5px url("../../desktop.blocks/footer/__text/ya.png");
}

/* ../../desktop.blocks/footer/__text/footer__text.css end */
/* ../../desktop.blocks/footer/footer.css begin */
.footer
{
    padding: 73px 0 90px;

    border-top: 2px solid #000;
}

/* ../../desktop.blocks/footer/footer.css end */
/* ../../desktop.blocks/aside/aside.css begin */
.aside
{
    position: absolute;
    z-index: 500;
    top: 0;
    left: 972px;

    width: 100%;
    height: 100%;

    cursor: pointer;

    border-left: 2px solid #000;
    background: #fff;
}

.content_aside_opened .aside,
.content_control_disable .aside
{
    cursor: auto;
}

/* ../../desktop.blocks/aside/aside.css end */
/* ../../desktop.blocks/aside/__button/_hide/aside__button_hide_yes.css begin */
.aside__button_hide_yes
{
    display: none;
}

/* ../../desktop.blocks/aside/__button/_hide/aside__button_hide_yes.css end */
/* ../../desktop.blocks/aside/__button/aside__button.css begin */
.aside__button
{
    position: fixed;
    z-index: 20;
    top: 70px;
    right: 20px;

    display: none;

    width: 67px;
    height: 71px;

    cursor: pointer;

    background: 0 0 url("../../desktop.blocks/aside/__button/aside__button.png");
}

.aside__button:hover
{
    background-position: 0 -100%;
}

.content_aside_opened .aside__button
{
    background-position: -100% 0;
}

.content_aside_opened .aside__button:hover
{
    background-position: -100% -100%;
}

.content_control_enable .aside__button
{
    display: block;
}

/* ../../desktop.blocks/aside/__button/aside__button.css end */
/* ../../desktop.blocks/aside/__shadow/aside__shadow.css begin */
.aside__shadow
{
    position: absolute;
    z-index: 10;
    top: 0;
    left: -20px;

    width: 18px;
    height: 100%;

    content: "";

    background: rgba(0,0,0, .15);
}

/* ../../desktop.blocks/aside/__shadow/aside__shadow.css end */
/* ../../desktop.blocks/aside/__ya-logo/aside__ya-logo.css begin */
.aside__ya-logo
{
    position: absolute;
    top: 15px;
    left: 750px;

    width: 78px;
    height: 30px;
    margin: 10px 982px 0 0;

    background: url("../../desktop.blocks/aside/__ya-logo/aside__ya-logo.png");
}

/* ../../desktop.blocks/aside/__ya-logo/aside__ya-logo.css end */
/* ../../desktop.blocks/aside/__cell/_border/aside__cell_border_bottom.css begin */
.aside__cell_border_bottom
{
    border-bottom: 2px solid #000;
}

/* ../../desktop.blocks/aside/__cell/_border/aside__cell_border_bottom.css end */
/* ../../desktop.blocks/aside/__cell/aside__cell.css begin */
.aside__cell:after
{
    display: table;
    clear: both;

    content: "";
}

/* ../../desktop.blocks/aside/__cell/aside__cell.css end */
/* ../../desktop.blocks/aside-items/__item/aside-items__item.css begin */
.aside-items__item
{
    border-bottom: 2px solid #000;
}

/* ../../desktop.blocks/aside-items/__item/aside-items__item.css end */
/* ../../desktop.blocks/aside-items/__item/_border/aside-items__item_border_none.css begin */
.aside-items__item_border_none
{
    border-bottom: none;
}

/* ../../desktop.blocks/aside-items/__item/_border/aside-items__item_border_none.css end */
/* ../../desktop.blocks/aside-items/aside-items.css begin */
.aside-items
{
}

/* ../../desktop.blocks/aside-items/aside-items.css end */
/* ../../desktop.blocks/aside-items/__inner/aside-items__inner.css begin */
.aside-items__inner
{
    width: 800px;
    padding: 30px;
}

/* ../../desktop.blocks/aside-items/__inner/aside-items__inner.css end */
/* ../../desktop.blocks/aside-items/__subtitle/aside-items__subtitle.css begin */
.aside-items__subtitle
{
    margin: 0 0 20px;

    font-size: 24px;
}

/* ../../desktop.blocks/aside-items/__subtitle/aside-items__subtitle.css end */
/* ../../desktop.blocks/aside-items/__text/aside-items__text.css begin */
.aside-items__text
{
    margin: 0 0 20px;
}

/* ../../desktop.blocks/aside-items/__text/aside-items__text.css end */
/* ../../desktop.blocks/aside-items/__circles/aside-items__circles.css begin */
.aside-items__circles
{
    display: block;

    width: 294px;
    height: 201px;
    margin: 70px 0 30px;

    background: url("../../desktop.blocks/aside-items/__circles/aside-items__circles.png");
}

/* ../../desktop.blocks/aside-items/__circles/aside-items__circles.css end */
/* ../../desktop.blocks/aside-items/__list-items/aside-items__list-items.css begin */
.aside-items__list-items
{
    margin: 0 0 20px;
    padding: 0;

    list-style: none;
}

/* ../../desktop.blocks/aside-items/__list-items/aside-items__list-items.css end */
/* ../../desktop.blocks/aside-items/__list-item/aside-items__list-item.css begin */
.aside-items__list-item:before
{
    content: "— ";
}

/* ../../desktop.blocks/aside-items/__list-item/aside-items__list-item.css end */
/* ../../desktop.blocks/aside-items/_color/aside-items_color_yellow.css begin */
.aside-items_color_yellow
{
    display: none;
}

.page_color_yellow .aside-items_color_yellow
{
    display: block;
}

/* ../../desktop.blocks/aside-items/_color/aside-items_color_yellow.css end */
/* ../../desktop.blocks/aside-items/_color/aside-items_color_red.css begin */
.aside-items_color_red
{
    display: none;
}

.page_color_red .aside-items_color_red
{
    display: block;
}

/* ../../desktop.blocks/aside-items/_color/aside-items_color_red.css end */
/* ../../desktop.blocks/aside-items/_color/aside-items_color_blue.css begin */
.aside-items_color_blue
{
    display: none;
}

.page_color_blue .aside-items_color_blue
{
    display: block;
}

/* ../../desktop.blocks/aside-items/_color/aside-items_color_blue.css end */
