.image_theme_yellow__iphone
{
    background: url(image_theme_yellow__iphone.png) no-repeat;
    width: 150px;
    height: 282px;
}

.image_theme_yellow__iphone_push_down_yes
{
    margin-top: 36px;
}