.image_theme_yellow__traffic
{
    background: url(image_theme_yellow__traffic.png) no-repeat;
    width: 620px;
    height: 244px;
}

.image_theme_yellow__traffic_push_down_yes
{
    margin-top: 318px;
}