.pers-switch_position_top
{
    padding: 80px 0 0;
}

.pers-switch__desc
{
    display: none;

    margin: 25px 0 0;
}

.pers-switch__item:hover .pers-switch__desc
{
    display: block;
}

.pers-switch__item_selected:hover .pers-switch__desc
{
    margin: 7px 0 0;
}

.pers-switch_unhovered .pers-switch__item_selected .pers-switch__desc
{
    display: block;

    margin: 7px 0 0;
}
