.image-theme-red__passports
{
    background: url(image-theme-red__passports.png) no-repeat;
    width: 475px;
    height: 409px;
}

.image-theme-red__passports_push_down_yes
{
    margin-top: 486px;
}