.history-alex
{
    height: 3280px;
    background: url("/image/alex-s2.png");
    position: relative;
    margin-left: -20px;
    display: none;
}

.history-alex:before
{
    height: 3280px;
    background: url("/image/alex-s1.png");
    width: 100%;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;

}
