.image-theme-red__food-grape
{
    background: url(image-theme-red__food-grape.png) no-repeat;
    width: 228px;
    height: 231px;
}

.image-theme-red__food-grape_push_down_yes
{
    margin-top: 40px;
}