.grid_common_header
{
    height: 589px;
}

.grid_common_info
{
    height: 312px;
}

.grid_common_footer
{
    height: 400px;
}

.grid_common_switch-top
{
    height: 367px;
}

.grid_common_switch-bottom
{
    height: 255px;
}
